Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Bump versions
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix build
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add config to DI
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix tests
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Update input for BRS-026 & BRS-028 processes (#38)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client/Extensions/DependencyInjection/ClientExtensions.cs
  source/ProcessManager.Client/Extensions/DependencyInjection/ServiceBusSenderNames.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesInputV1.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Updated running check
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsCompletionsTests.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsSearchTests.cs
Owners: @Energinet-DataHub/team-mosaic

Updated timer for status check
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsSearchTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update OrchestrationsSearchTests.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsSearchTests.cs
Owners: @Energinet-DataHub/team-mosaic

rename brs_xyz to brs_x01
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/ExampleQueryResult.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/Model/Brs_X01_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/Model/InputV1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/Model/ScheduleCommandV1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/Model/StartCommandV1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/ExampleSkipStep.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsCompletionsTests.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsSearchTests.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsCompletionsTests.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsSearchTests.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/SearchExampleHandler.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/SearchTrigger_Brs_X01_Example.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/ProgressActivityBase.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/SkipAbleActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/StartActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartExampleHandlerV1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartTrigger_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/StartHandler_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

skipAble -> skippable
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsCompletionsTests.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/SearchExampleHandler.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/SearchTrigger_Brs_X01_Example.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/SkippableActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartExampleHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic

Hopefulle add example to ci
  .github/workflows/ci-orchestrator.yml
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Update ci-orchestrator.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Update ProcessManager.Abstractions.csproj
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Initial step for making client depend on example orchestrations
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/ExampleQuery.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

rename commands
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/Model/ScheduleExampleCommandV1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/Model/StartExampleCommandV1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartExampleHandlerV1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartTrigger_Brs_X01_Example_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Collection for example orchestration
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerExampleClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerExampleClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

pr comments and end activity
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsCompletionsTests.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsSearchTests.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/SearchTrigger_Brs_X01_Example.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/EndActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/StartActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartExampleHandlerV1.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Test are executed automatically?
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Update BRS-026 with activities
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationDto.proto
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedDataInputV1.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/StartOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateStepActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_RequestCalculatedEnergyTimeSeries_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesOrchestrationV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTriggerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/StartTrigger_RequestCalculatedEnergyTimeSeries_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/Shared/StartOrchestrationFromMessageHandlerBase.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add subject filters to subscriptions in test
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update docs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Remove unused variable
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/StartTrigger_RequestCalculatedEnergyTimeSeries_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Bump version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Health check
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Components/Diagnostics/HealthChecks/DatabricksJobsApiHealthCheck.cs
  source/ProcessManager.Components/Extensions/Builder/DatabricksHealthCheckBuilderExtensions.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/DatabricksWorkspaceExtensions.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
Owners: @Energinet-DataHub/team-mosaic

Internal
  source/ProcessManager.Components/Extensions/Builder/DatabricksHealthCheckBuilderExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Test health check
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Components.Tests/Fixtures/HealthChecksFixture.cs
  source/ProcessManager.Components.Tests/Integration/Diagnostics/HealthChecks/DatabricksJobsApiHealthCheckTests.cs
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/integrationtest.local.settings.sample.json
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Comment
  source/ProcessManager.Components.Tests/Integration/Diagnostics/HealthChecks/DatabricksJobsApiHealthCheckTests.cs
Owners: @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Components.Tests/Unit/Diagnostics/HealthChecks/DatabricksJobsApiHealthCheckTests.cs
Owners: @Energinet-DataHub/team-mosaic

Using testcommen to clean up azurite storage
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add scheduling for example process
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/ScheduleTrigger_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartExampleHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic

Named record for ActivityInput
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/StartOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateStepActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_RequestCalculatedEnergyTimeSeries_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

wasMessagesEnqueued
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_RequestCalculatedEnergyTimeSeries_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

New activities
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsCompletionsTests.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/FirstStepStartActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/FirstStepStopActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/InitializeOrchestrationActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/SecondStepStartActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/SecondStepStopActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/TerminateOrchestrationActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Update test names
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Renaming
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerExampleClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingClientsScenario.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
  source/ProcessManager.Tests/Integration/Processes/MonitorExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Remove test
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsCompletionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/StartOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_RequestCalculatedEnergyTimeSeries_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian
