Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Add received process type to RSM-009 (#148)
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Test of internal calculation
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

add mes-id
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

rm master data error list
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/BusinessValidation/Brs021_ForwardMeteredData_MasterData_BusinessValidationDtoValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/BusinessValidation/Brs021_ForwardMeteredData_Series_BusinessValidationDtoValidatorTests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformMasterDataBusinessValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/BusinessValidation/MeteringPointValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs021_ForwardMeteredData_MasterData_BusinessValidationDto.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update ChargeTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ChargeTypeValidatorTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Set 1 hour timeout
  source/ProcessManager.DatabaseMigration/DbUpgrader.cs
Owners: @Energinet-DataHub/team-mosaic

refac: Update script so it only add column if it was not added already (#151)
  source/ProcessManager.DatabaseMigration/DbUpgrader.cs
  source/ProcessManager.DatabaseMigration/Scripts/202501311000 Add RowVersion.sql
Owners: @Energinet-DataHub/team-mosaic

chore: rollback host json after perf test
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeteringPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoringStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/CompleteTrigger_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/ForwardMeteredDataTrigger_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandlerV1.cs
  source/ProcessManager.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

chore: rollback host json after perf test
  source/ProcessManager.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

Do not send input when starting DF orchestration
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
Owners: @Energinet-DataHub/team-mosaic

chore: rollback host json after perf test (#153)
  source/ProcessManager.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

Refactor use of input for Orchestration_Brs_021_ForwardMeteredData_V1
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor use of input for Orchestration_Brs_023_027_V1
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Use new validation framework for BRS-021 (#144)
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/BusinessValidation/Brs021_ForwardMeteredData_General_BusinessValidationDtoValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/BusinessValidation/Brs021_ForwardMeteredData_Series_BusinessValidationDtoValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/BusinessValidation/Rules/MeteringPointValidationRuleTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformGeneralBusinessValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformSeriesBusinessValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/BusinessValidation/MeteringPointValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs021_ForwardMeteredData_General_BusinessValidationDto.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs021_ForwardMeteredData_Series_BusinessValidationDto.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Refactor use of input
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor use of input for for Orchestration_Brs_026_V1
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/PerformBusinessValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Orchestration_Brs_026_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor use of input for BRS 028
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/PerformBusinessValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor use of input for Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

renaming
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/PublishCalculationEnqueueCompletedActivity_brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

chore: NuGet bump (#150)
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add charge types map
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/ChargeType.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesAcceptedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Refactor use of input for Orchestration_Brs_X01_InputExample_V1
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor use of input for
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueActorMessagesActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/PerformBusinessValidationActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Delete TaskOrchestrationContextExtensions
  source/ProcessManager.Core/Infrastructure/Extensions/DurableTask/TaskOrchestrationContextExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add Resolution & update ChargeType on accepted wholesale services (#152)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/ChargeType.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ChargeTypeValidatorTests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/ChargeCodeValidationRule.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

add topic to appSettings for orchestration app
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

corrected app settings
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version and update release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Add MD files for new NuGet package
  docs/ProcessManager.Components.ValueObjects/Documentation.md
  docs/ProcessManager.Components.ValueObjects/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

refac: Fix csproj files for NuGet packages (#156)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

refac: Don't give input to DF orchestrations on start (#154)
  source/ProcessManager.Core/Infrastructure/Extensions/DurableTask/TaskOrchestrationContextExtensions.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueActorMessagesActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/PerformBusinessValidationActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/PerformBusinessValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/PerformBusinessValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

New NuGet package
  source/ProcessManager.Components.ValueObjects/ProcessManager.Components.ValueObjects.csproj
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Update solution filter
  source/ProcessManager.NuGet.Filtered.slnf
Owners: @Energinet-DataHub/team-mosaic

Moved types to new NuGet package
  source/ProcessManager.Components.ValueObjects/ActorNumber.cs
  source/ProcessManager.Components.ValueObjects/ActorRole.cs
  source/ProcessManager.Components.ValueObjects/BusinessReason.cs
  source/ProcessManager.Components.ValueObjects/ChargeType.cs
  source/ProcessManager.Components.ValueObjects/DataHubType.cs
  source/ProcessManager.Components.ValueObjects/EnumerationType.cs
  source/ProcessManager.Components.ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Components.ValueObjects/MeteringPointType.cs
  source/ProcessManager.Components.ValueObjects/Quality.cs
  source/ProcessManager.Components.ValueObjects/Resolution.cs
  source/ProcessManager.Components.ValueObjects/SettlementMethod.cs
  source/ProcessManager.Components.ValueObjects/SettlementVersion.cs
Owners: @Energinet-DataHub/team-mosaic

Reference ValueObjects
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
Owners: @Energinet-DataHub/team-mosaic

Remove serializable attribut
  source/ProcessManager.Components.ValueObjects/ActorNumber.cs
  source/ProcessManager.Components.ValueObjects/ActorRole.cs
  source/ProcessManager.Components.ValueObjects/ChargeType.cs
  source/ProcessManager.Components.ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Components.ValueObjects/MeteringPointType.cs
  source/ProcessManager.Components.ValueObjects/Resolution.cs
  source/ProcessManager.Components.ValueObjects/SettlementMethod.cs
  source/ProcessManager.Components.ValueObjects/SettlementVersion.cs
Owners: @Energinet-DataHub/team-mosaic

merge with main
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/PublishCalculationEnqueueCompletedActivity_brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename of test and comments
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Bump version and update release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
