Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Remove comment
  source/ProcessManager.Core/Application/Orchestration/IUnitOfWork.cs
Owners: @Energinet-DataHub/team-mosaic

Touch abstractions
  source/ProcessManager.Abstractions/Api/Model/CancelScheduledOrchestrationInstanceCommand.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor DatabricksJobsManager
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsManager.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsManager.cs
  source/ProcessManager.Components/Databricks/Jobs/Model/JobRunId.cs
  source/ProcessManager.Components/Databricks/Jobs/Model/JobRunStatus.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
Owners: @Energinet-DataHub/team-mosaic

Try fixing build
  .github/workflows/ci-dotnet.yml
Owners: @Energinet-DataHub/TheOutlaws

Rename
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsClient.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsClient.cs
Owners: @Energinet-DataHub/team-mosaic

Use ubuntu-22.04 everywhere
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove change
  source/ProcessManager.Abstractions/Api/Model/CancelScheduledOrchestrationInstanceCommand.cs
Owners: @Energinet-DataHub/team-mosaic

Fix null value output
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Try fix again
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Revert
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Run only if matrix has elements
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick CI
  source/ProcessManager.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Revert change
  source/ProcessManager.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Bugfix: Dispatch with no changes fails allow_merge (#42)
  .github/actions/dotnet-affected/Find-AffectedProjects.Tests.ps1
  .github/actions/dotnet-affected/Find-AffectedProjects.ps1
  .github/actions/dotnet-affected/action.yml
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Change 8.0.300 --> 8.0.100
  global.json
Owners: @Energinet-DataHub/team-mosaic

Bump ubuntu-22.04 --> ubuntu-24.04
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Build something
  source/ProcessManager.Abstractions/Api/Model/OrchestrationDescription/OrchestrationDescriptionUniqueNameDto.cs
Owners: @Energinet-DataHub/team-mosaic

Revert change
  source/ProcessManager.Abstractions/Api/Model/OrchestrationDescription/OrchestrationDescriptionUniqueNameDto.cs
Owners: @Energinet-DataHub/team-mosaic

Use ubuntu-latest where appropriate
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Run on 24.04
  source/ProcessManager.Abstractions/Api/Model/OrchestrationDescription/OrchestrationDescriptionUniqueNameDto.cs
Owners: @Energinet-DataHub/team-mosaic

Revert change
  source/ProcessManager.Abstractions/Api/Model/OrchestrationDescription/OrchestrationDescriptionUniqueNameDto.cs
Owners: @Energinet-DataHub/team-mosaic

Run dotnet build on ubuntu-24.04 using .NET 8, featureband 8.0.100 (#44)
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
  global.json
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Build Core
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
Owners: @Energinet-DataHub/team-mosaic

Add pre-release stuff
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove trailing spaces
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

Bugfix: CD dispatch should dispatch to dh3-environments (#45)
  .github/workflows/cd.yml
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Create dbmigrations_latest artifact on merge to main
  source/ProcessManager.DatabaseMigration/DbUpgrader.cs
Owners: @Energinet-DataHub/team-mosaic

Create dbmigrations_latest artifact on merge to main (#46)
  source/ProcessManager.DatabaseMigration/DbUpgrader.cs
Owners: @Energinet-DataHub/team-mosaic

Test DI
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/DatabricksWorkspaceExtensions.cs
  source/ProcessManager.Components/Extensions/Options/DatabricksWorkspaceOptions.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
Owners: @Energinet-DataHub/team-mosaic

Required options should not allow string.Empty
  source/ProcessManager.Client/Extensions/Options/ProcessManagerHttpClientsOptions.cs
  source/ProcessManager.Client/Extensions/Options/ProcessManagerServiceBusClientOptions.cs
  source/ProcessManager.Components/Extensions/Options/DatabricksWorkspaceOptions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Options/ProcessManagerOptions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Options/ProcessManagerTaskHubOptions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/DatabricksWorkspaceExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Make IDatabricksJobsClient keyed
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/DatabricksWorkspaceExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version and release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Bump version and release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientTests.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
Owners: @Energinet-DataHub/team-mosaic

Format
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsClient.cs
Owners: @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

Add health check for subscription
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add health checks
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
