Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Renames
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/Example/V1/Model/InputV1.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/V1/OrchestrationsSearchTests.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/FirstStepStartActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/FirstStepStopActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/ScheduleTrigger_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartExampleHandlerV1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/StartTrigger_Brs_X01_Example_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update MonitorExampleUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateStepActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_RequestCalculatedEnergyTimeSeries_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_RequestCalculatedEnergyTimeSeries_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

GetOrchestration test in API
  source/ProcessManager.Tests/Fixtures/ProcessManagerExampleApiCollection.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerExampleApiFixture.cs
  source/ProcessManager.Tests/Integration/Processes/MonitorExampleUsingApiScenario.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic

remove getType() from requests
  source/ProcessManager.Tests/Integration/Processes/MonitorExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor to _defaultRetryOptions
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor instanceId
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Implement BRS-026 walking skeleton (#47)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationDto.proto
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedDataInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/StartOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateStepActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_RequestCalculatedEnergyTimeSeries_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesOrchestrationV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTriggerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/StartTrigger_RequestCalculatedEnergyTimeSeries_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/Shared/StartOrchestrationFromMessageHandlerBase.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/InitializeOrchestrationActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/SecondStepStartActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/SecondStepStopActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/TerminateOrchestrationActivity_Brs_X01_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Model/OrchestrationExecutionPlan.cs
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Orchestration_Brs_X01_Example_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/OrchestrationInitializeActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Model/OrchestrationExecutionPlan.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationExecutionPlan.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Durable task manager to orchestration
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/CalculationCompletionTests.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Consolidate NuGet version
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations/Example.Orchestrations.csproj
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update NuGet packages
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

Update CalculationCompletionTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/CalculationCompletionTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test for termination state
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/CalculationCompletionTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Small corrections
  source/ProcessManager.Client.Tests/Integration/BRS_X01/V1/MonitorExampleUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/CalculationCompletionTests.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename fixture that must be moved
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ElectricalHeatingCalculation/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Prepare fixtures and collection definition
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test and disable Parallelization
  source/ProcessManager.Client.Tests/DisableTestParallelization.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/Example/V1/MonitorExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Delete CleanupAzuriteStorage
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

TaskHubName
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
Owners: @Energinet-DataHub/team-mosaic

Can build
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Pin func core tools version
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove dependencies
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Names
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
Owners: @Energinet-DataHub/team-mosaic

Remove commented lines
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove DUrableTaskManager from fixture - it's not used
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
Owners: @Energinet-DataHub/team-mosaic

Api test
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/MonitorExampleUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
Owners: @Energinet-DataHub/team-mosaic

Comments
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/MonitorExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

No input example abstractions
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/V1/Model/Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/V1/Model/StartNoInputExampleComandV1.cs
Owners: @Energinet-DataHub/team-mosaic

Comment
  source/Example.Orchestrations/Processes/BRS_X01/Example/V1/Activities/InitializeOrchestrationActivity_Brs_X01_Example_V1.cs
Owners: @Energinet-DataHub/team-mosaic

No-input example and client tests
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/FirstStepStartActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/FirstStepStopActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/ProgressActivityBase.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStartActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStopActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Model/OrchestrationExecutionPlan.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Program.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/Example/V1/MonitorExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/NoInputExample/V1/MonitorNoInputExampleUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Test using Api
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/MonitorExampleUsingApiScenario.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/MonitorNoInputExampleUsingApiScenario.cs
  source/ProcessManager.Client/ProcessManagerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Add client package
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump version and release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix test
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/MonitorNoInputExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Retry fix test
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/MonitorNoInputExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Moved tests
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingApiScenario.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

NuGet version
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Cleanup
  source/ProcessManager.Client.Tests/DisableTestParallelization.cs
  source/ProcessManager.Client.Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/Example/V1/MonitorExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/NoInputExample/V1/MonitorNoInputExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic
