Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

added comment
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Core/Application/Orchestration/INotifyOrchestrationInstanceCommands.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceExecutor.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

Removev unused usings
  source/ProcessManager.Core/Application/Orchestration/INotifyOrchestrationInstanceCommands.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceExecutor.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
Owners: @Energinet-DataHub/team-mosaic

Remove unused usings
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
Owners: @Energinet-DataHub/team-mosaic

fix: avoid return third part type to orchestration
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/ConnectionState.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointMasterData.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointSubType.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: updated MeteredDataForMeteringPointRejectedV1 to use DataHubTypes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/BusinessReason.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointRejectedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointMasterData.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointSubType.cs
Owners: @Energinet-DataHub/team-mosaic

Remove dependabot action not used
  .github/actions/dependabot-project-check/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Use expandoobject for generic notify data type
  source/ProcessManager.Client.Tests/Unit/Contracts/NotifyOrchestrationInstanceTests.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Mapper/MeteringPointMasterDataMapper.cs
Owners: @Energinet-DataHub/team-mosaic

feat: updated MeteredDataForMeteringPointRejectedV1 to use DataHubTypes (#116)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/BusinessReason.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointRejectedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

fix: avoid return third part type to orchestration (#115)
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Mapper/MeteringPointMasterDataMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/ConnectionState.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointMasterData.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointSubType.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

idempotencyKey on EnqueueAsync is now a Guid.
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/IEnqueueActorMessagesClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Abstractions.csproj
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix notify event data serialization
  source/ProcessManager.Abstractions/Contracts/NotifyOrchestrationInstanceV1.cs
  source/ProcessManager.Client.Tests/Unit/Contracts/NotifyOrchestrationInstanceTests.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Tests/Unit/Api/NotifyOrchestrationInstanceTriggerTests.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

Update Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Add notify idempotency test
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Update MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Add MessageId
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

bump
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update comments
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/Brs_X02_NotifyOrchestrationInstanceExample.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/ExampleNotifyEventDataV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/NotifyOrchestrationInstanceExampleNotifyEventsV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/StartNotifyOrchestrationInstanceExampleCommandV1.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Bump package versions
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix version bump
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

instant to datetimeoffset
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

bump nuget version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

build: Support merge queues (#111)
  .github/actions/dependabot-project-check/action.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Add consumer example app
  source/ProcessManager.Consumer.Example/Extensions/Options/EdiTopicOptions.cs
  source/ProcessManager.Consumer.Example/Functions/BRS_X01/StartTrigger_BRS_X02_WithInput.cs
  source/ProcessManager.Consumer.Example/Functions/BRS_X03_ActorRequestProcessExample/EnqueueActorMessagesTrigger_Brs_X03.cs
  source/ProcessManager.Consumer.Example/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Consumer.Example/Monitor/HealthCheckEndpoint.cs
  source/ProcessManager.Consumer.Example/ProcessManager.Consumer.Example.csproj
  source/ProcessManager.Consumer.Example/Program.cs
  source/ProcessManager.Consumer.Example/Properties/launchSettings.json
  source/ProcessManager.Consumer.Example/host.json
  source/ProcessManager.Consumer.Example/local.settings.sample.json
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestsProcess/Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestsProcess/V1/ActorRequestProcessExampleEnqueueDataV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestsProcess/V1/ActorRequestProcessExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestsProcess/V1/ActorRequestProcessExampleNotifyEventsV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestsProcess/V1/StartActorRequestProcessExampleV1.cs
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Fix namespace
  source/ProcessManager.Consumer.Example/Functions/BRS_X03_ActorRequestProcessExample/EnqueueActorMessagesTrigger_Brs_X03.cs
  source/ProcessManager.Consumer.Example/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleEnqueueDataV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleNotifyEventsV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleV1.cs
Owners: @Energinet-DataHub/team-mosaic

Add brs-x03 example orchestration
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartTrigger_Brs_X03_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Add BRS-X03 orchestration
  source/ProcessManager.Consumer.Example/Functions/BRS_X01/StartTrigger_BRS_X02_WithInput.cs
  source/ProcessManager.Consumer.Example/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleEnqueueDataV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/GetOrchestrationExecutionPlanActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueActorMessagesActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionOrchestrationToRunningActivity_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionOrchestrationToTerminatedActivity_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionStepToRunningActivity_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionStepToTerminatedActivity_V1.cs
  source/ProcessManager.Tests/Unit/Api/NotifyOrchestrationInstanceTriggerTests.cs
Owners: @Energinet-DataHub/team-mosaic

Add EDI topic to example orchestrations app
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations/Program.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Rename to ProcessManager.Example.Consumer
  source/ProcessManager.Example.Consumer/Extensions/Options/EdiTopicOptions.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/EnqueueActorMessagesTrigger_Brs_X03.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Consumer/Monitor/HealthCheckEndpoint.cs
  source/ProcessManager.Example.Consumer/ProcessManager.Example.Consumer.csproj
  source/ProcessManager.Example.Consumer/Program.cs
  source/ProcessManager.Example.Consumer/Properties/launchSettings.json
  source/ProcessManager.Example.Consumer/host.json
  source/ProcessManager.Example.Consumer/local.settings.sample.json
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Rename namespace
  source/ProcessManager.Example.Consumer/Extensions/Options/EdiTopicOptions.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/EnqueueActorMessagesTrigger_Brs_X03.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Consumer/Monitor/HealthCheckEndpoint.cs
  source/ProcessManager.Example.Consumer/ProcessManager.Example.Consumer.csproj
Owners: @Energinet-DataHub/team-mosaic

Add ExampleConsumerAppManager
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleConsumerAppManager.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X03_ActorRequestProcessExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartTrigger_Brs_X03_V1.cs
  source/Shared/Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartTrigger_Brs_X03_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Add missing service bus client
  source/ProcessManager.Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Increase wait timeout
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X03_ActorRequestProcessExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Removed unused setting
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleConsumerAppManager.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Update local.settings.sample.json
  source/ProcessManager.Example.Consumer/local.settings.sample.json
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
