Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename to OnExecuteAsync
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Steps/FirstStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Steps/SkippableStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Steps/ExampleStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Steps/WaitForNotifyEventStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Steps/EnqueueActorMessagesStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Steps/FailingStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Steps/SuccessStep.cs
  source/Shared/Processes/Activities/StepExecutor.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor brs-026
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Steps/EnqueueActorMessagesStep.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Refactor BRS-028
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Orchestration_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/EnqueueActorMessagesStep.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

feat: Update BRS-026 and 028 to handle errors by using step executor (#172)
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Steps/EnqueueActorMessagesStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Orchestration_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/EnqueueActorMessagesStep.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

fix: Align PM.Abs and PM.Client NuGet versions (#171)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Add created by actor filter to ActorRequestQuery
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/CustomQueries/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/CustomQueries/SearchActorRequestHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Wip
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add created by actor filter to actor request query (#173)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/CustomQueries/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/CustomQueries/SearchActorRequestHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Add missing FKs to database
  source/ProcessManager.DatabaseMigration/Scripts/202502111147 Add FK between tables.sql
Owners: @Energinet-DataHub/team-mosaic

fixup! feat: Add missing FKs to database
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
Owners: @Energinet-DataHub/team-mosaic

feat: Add IX on OrchestrationDescriptionId for OI and SI
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502111403 Add indicies on OrchestrationDescriptionId.sql
Owners: @Energinet-DataHub/team-mosaic

fixup! feat: Add IX on OrchestrationDescriptionId for OI and SI
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502111403 Add indicies on OrchestrationDescriptionId and OrchestrationInstanceId.sql
Owners: @Energinet-DataHub/team-mosaic

Update electricity market nuget package
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
Owners: @Energinet-DataHub/team-mosaic

Use new EM client
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/IGridAreaOwnerClient.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Mapper/MeteringPointMasterDataMapper.cs
  source/ProcessManager.Orchestrations/TestServices/ElectricityMarketViewsStub.cs
Owners: @Energinet-DataHub/team-mosaic

Add options
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor grid area client
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/GridAreaOwnerClient.cs
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/IGridAreaOwnerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Rename client
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/ElectricityMarketGridAreaOwnerClient.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Fix unit test
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/RequestCalculatedWholesaleServicesInputV1ValidatorTests.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ElectricityMarketGridAreaOwnerClient.cs
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/ElectricityMarketGridAreaOwnerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Add comment
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Update OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add IX on FKs for the Orchstration- and StepInstance tables (#177)
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502111403 Add indicies on OrchestrationDescriptionId and OrchestrationInstanceId.sql
Owners: @Energinet-DataHub/team-mosaic

feat: Use Electricity Market client for grid area owner (#178)
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/ElectricityMarketGridAreaOwnerClient.cs
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/IGridAreaOwnerClient.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/RequestCalculatedWholesaleServicesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Mapper/MeteringPointMasterDataMapper.cs
  source/ProcessManager.Orchestrations/TestServices/ElectricityMarketViewsStub.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Increase retry policy to 1 hour
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Increase retry policy from 7,5 minutes to 1 hour (#180)
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Change actor id to actor number and role
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstance/ActorIdentityDto.cs
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstance/UserIdentityDto.cs
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationInstanceV1.proto
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Core.Tests/Integration/Application/Orchestration/IStartOrchestrationInstanceMessageCommandsTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/Actor.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/ActorIdentity.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OperatingIdentityComplexType.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/UserIdentity.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartInputExampleHandlerV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/CustomQueries/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationExecutionContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/CustomQueries/SearchActorRequestHandler.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
  source/ProcessManager/Api/CancelScheduledOrchestrationInstanceTrigger.cs
  source/ProcessManager/Api/ScheduleOrchestrationInstanceTrigger.cs
  source/ProcessManager/Api/StartOrchestrationInstanceTrigger.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor tests
  source/ProcessManager.Core.Tests/Integration/Application/Orchestration/IStartOrchestrationInstanceMessageCommandsTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add DB migrations
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502121450 Add lifecycle ActorNumber and ActorRole to OrchestrationInstance.sql
  source/ProcessManager.DatabaseMigration/Scripts/202502121451 Set created by default values for lifecycle ActorNumber and ActorRole on OrchestrationInstance.sql
  source/ProcessManager.DatabaseMigration/Scripts/202502121452 Set canceled by default values for lifecycle ActorNumber and ActorRole on OrchestrationInstance.sql
  source/ProcessManager.DatabaseMigration/Scripts/202502121453 Remove lifecycle ActorId from OrchestrationInstance.sql
Owners: @Energinet-DataHub/team-mosaic

Refactors
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstanceLifecycle.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/EnergySupplierIsOnlyAllowedToRequestOwnDataHelper.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update package version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Mitigate electricity market exception
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/ElectricityMarketGridAreaOwnerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Components package version
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Lint fix
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

fix: Mitigate get grid area owner http request exception (#182)
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/ElectricityMarketGridAreaOwnerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Filter on parameter values in calculations
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Remove unused usings
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix db migrations
  source/ProcessManager.DatabaseMigration/Scripts/202502121451 Set created by default values for lifecycle ActorNumber and ActorRole on OrchestrationInstance.sql
  source/ProcessManager.DatabaseMigration/Scripts/202502121452 Set canceled by default values for lifecycle ActorNumber and ActorRole on OrchestrationInstance.sql
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
