Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix subsystemtest project build failure
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix pretty print
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add debug info
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Elementary...
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Print matrix
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

test: Add basic client test for StartRequestCalculatedEnergyTimeSeriesCommandV1 (#30)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Client/Extensions/DependencyInjection/ClientExtensions.cs
  source/ProcessManager.Client/Extensions/Options/ProcessManagerServiceBusClientOptions.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

ioc
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Check that everything builds
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

updated
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FetchMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/MeteringPointExistsActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ValidationStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsEnqueuedActivity_Brs_021_MeteredDataForwarding_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsStoredActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Save space
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

More compression = no difference
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Run tests
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump 0.14.1 --> 0.14.2
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix names
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove client dependency
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

updated version number
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add orchestrations always
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Invert if
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add properties
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add ProcessManager to build always
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add names
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Move params
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add comment
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

feat: added activities for ForwardMeteredData Orchestration (#32)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FetchMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationInitializeActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ValidationStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsEnqueuedActivity_Brs_021_MeteredDataForwarding_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsStoredActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataTriggerV1.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/local.settings.sample.json
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Build only changed artifacts
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump 0.2.1 --> 0.2.2
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Run tests
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

kick ci
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add solutionfile
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

No need to build projects
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add pings
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Flip
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Cleanup after temp trigger
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
