Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test that FluentAssertions version is less than 8
  source/Shared/Tests/FluentAssertionsVersionGuard.cs
Owners: @Energinet-DataHub/team-mosaic

Reference the shared test in test-projects
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

pass idempotency from orch to activity
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

test: Block fluentassertions v8 (#120)
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/Shared/Tests/FluentAssertionsVersionGuard.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

23_27 orchestration creates idempotecy key for enqueue activity
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

use context.NewGuid
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix namespaces and add protobuf build
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/Contracts/IntegrationEventId.proto
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherExtensionsTests.cs
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

test
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

refac: idempotencyKey on EnqueueAsync is now a Guid. (#117)
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/IEnqueueActorMessagesClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

s
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Components.Tests/Fixtures/IntegrationEventPublisherFixture.cs
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/Contracts/IntegrationEventId.proto
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherExtensionsTests.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/IntegrationEventPublisherExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix "When" pattern
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherExtensionsTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update IntegrationEventId.proto
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/Contracts/IntegrationEventId.proto
Owners: @Energinet-DataHub/team-mosaic

Add TODO's and rename
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update IntegrationEventPublisherClientTests.cs
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointMasterData.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update IntegrationEventPublisherClientTests.cs
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update test
  source/ProcessManager.Components.Tests/Fixtures/IntegrationEventPublisherFixture.cs
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update IntegrationEventPublisherClientTests.cs
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update IntegrationEventTestMessage.proto
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/Contracts/IntegrationEventTestMessage.proto
Owners: @Energinet-DataHub/team-mosaic

Rename namespace
  source/ProcessManager.Orchestrations/Processes/Composite/BRS_026_028/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/Composite/BRS_026_028/SearchTrigger_Brs_026_028.cs
Owners: @Energinet-DataHub/team-mosaic

Added shared activities
  source/Shared/Processes/Activities/TransitionOrchestrationToRunningActivity_V1.cs
  source/Shared/Processes/Activities/TransitionOrchestrationToTerminatedActivity_V1.cs
  source/Shared/Processes/Activities/TransitionStepToRunningActivity_V1.cs
  source/Shared/Processes/Activities/TransitionStepToTerminatedActivity_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix contract namespace
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/Contracts/IntegrationEventTestMessage.proto
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update IntegrationEventPublisherClientTests.cs
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

Align activities
  source/Shared/Processes/Activities/TransitionStepToRunningActivity_V1.cs
  source/Shared/Processes/Activities/TransitionStepToTerminatedActivity_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix build
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueActorMessagesActivity_Brs_X03_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add Integration Event topic publisher (#106)
  source/ProcessManager.Components.Tests/Fixtures/IntegrationEventPublisherFixture.cs
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/Contracts/IntegrationEventTestMessage.proto
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherClientTests.cs
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components/Extensions/DependencyInjection/IntegrationEventPublisherExtensions.cs
  source/ProcessManager.Components/Extensions/Options/IntegrationEventTopicOptions.cs
  source/ProcessManager.Components/IntegrationEventPublisher/IIntegrationEventPublisherClient.cs
  source/ProcessManager.Components/IntegrationEventPublisher/IntegrationEventPublisherClient.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor to use TransitionOrchestrationToTerminatedActivity_V1
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Use TransitionStepToRunningActivity_V1
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/TransitionStepToRunningActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Use TransitionStepToTerminatedActivity_V1
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/TransitionStepToTerminatedActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Use TransitionOrchestrationToRunningActivity_V1
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Linked files
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
Owners: @Energinet-DataHub/team-mosaic

Refactor to use shared activities
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToRunningActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

Use options
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Model/OrchestrationExecutionPlan.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Use shared activities
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToRunningActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Rename repository parameter/field
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
