Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactored
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

Add BRS-028 validation rules
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/BalanceResponsibleValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/EnergySupplierValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/GridAreaValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/MeteringPointTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/PeriodValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/RequestedByActorRoleValidationRuleTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/SettlementMethodValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/SettlementVersionValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/TimeSeriesTypeValidatorTests.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/BalanceResponsibleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/EnergySupplierValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/GridAreaValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/MeteringPointTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/PeriodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/RequestedByActorRoleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/SettlementMethodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/SettlementVersionValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/TimeSeriesTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/ChargeCodeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/EnergySupplierValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/GridAreaValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/PeriodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/ResolutionValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/SettlementVersionValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/GridAreaValidationHelper.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update BRS-028 business validation activities
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesRejectedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/PerformAsyncValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/PerformBusinessValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Add RequestCalculatedWholesaleServicesInputV1ValidatorTests
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/RequestCalculatedWholesaleServicesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add BRS-028 validation tests
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesInputV1.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/RequestCalculatedWholesaleServicesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ChargeTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/EnergySupplierValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/GridAreaValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/PeriodValidationRuleTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ResolutionValidationRuleTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/SettlementVersionValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/PeriodValidationRule.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update BRS-028 test to make sure steps are succeded
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Bump version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update BRS-026 input and enqueue types
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/ActorNumber.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

refac: Scoped command (#132)
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Tests/Fixtures/SchedulerHandlerFixture.cs
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/ProcessManager/Scheduler/SchedulerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

simplify to strings
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Instant -> DateTimeOffset
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/EnqueueActorMessagesTrigger_Brs_X03.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
Owners: @Energinet-DataHub/team-mosaic

Update EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Implement BRS-026 enqueue messages type (#137)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/EnqueueActorMessagesTrigger_Brs_X03.cs
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/ActorNumber.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
Owners: @Energinet-DataHub/team-mosaic

Create MeteredDataForMeteringPointMessagesEnqueuedNotifyEventsV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessagesEnqueuedNotifyEventsV1.cs
Owners: @Energinet-DataHub/team-mosaic

Update input/output
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesInputV1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

test: increase maxConcurrentOrchestratorFunctions
  source/ProcessManager.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

Add missing properties
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

refac: MeteredDataForMeteringPointAcceptedV1 (#118)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessagesEnqueuedNotifyEventsV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

test: increase maxConcurrentOrchestratorFunctions (#139)
  source/ProcessManager.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

Bump version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Renamed enqueue related classes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationEnqueueActorMessagesCompletedNotifyEventV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationEnqueueActorMessagesV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationType.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test for enqueue actor messages event sent
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update contracts to check datatype when parsing data
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.cs
  source/ProcessManager.Abstractions/Contracts/NotifyOrchestrationInstanceV1.cs
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationInstanceV1.cs
Owners: @Energinet-DataHub/team-mosaic

chore: Renamed enqueue related classes (#140)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationEnqueueActorMessagesCompletedNotifyEventV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationEnqueueActorMessagesV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationType.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix tests
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
