Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Update Actor.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/Actor.cs
Owners: @Energinet-DataHub/team-mosaic

Undo temp test
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Rename variable
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Increased performance in calculation search
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Fixed test grid area
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Optimize search
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Cleaned up calculation search
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Abstractions/Core/ValueObjects/ActorRole.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueActorMessagesActivity_Brs_X03_V1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager/Scheduler/DataHubActor.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Use strongly types actor number/role on domain model
  source/ProcessManager.Core/Domain/OrchestrationInstance/OperatingIdentityComplexType.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X03_ActorRequestProcessExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Søgning for beregninger (#183)
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ReleaseNotes.md
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Update components realease notes
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Add actor role tests
  source/ProcessManager.Abstractions/Contracts/ActorRoleV1.proto
  source/ProcessManager.Client.Tests/Unit/Contracts/ActorRoleTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update ActorRoleTests.cs
  source/ProcessManager.Client.Tests/Unit/Contracts/ActorRoleTests.cs
Owners: @Energinet-DataHub/team-mosaic

Markdown lint
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Remove unused reference
  source/ProcessManager.Core.Tests/Integration/Application/Orchestration/IStartOrchestrationInstanceMessageCommandsTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Remove unused usings
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/EnergySupplierValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/GridAreaValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/PeriodValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/RequestedByActorRoleValidationRuleTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ChargeTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/EnergySupplierValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/GridAreaValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/PeriodValidationRuleTests.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Remove unused usings
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleConsumerAppManager.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Move MeasurementsMeteredDataClientOptions
  source/ProcessManager.Orchestrations.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Options/MeasurementsMeteredDataClientOptions.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Add index that covers orchestration instance search
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502171057 Add search index to Orchestration Instance.sql
Owners: @Energinet-DataHub/team-mosaic

refac: Move MeasurementsMeteredDataClientOptions (#185)
  source/ProcessManager.Orchestrations.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Options/MeasurementsMeteredDataClientOptions.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Move summary docs to interface
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
Owners: @Energinet-DataHub/team-mosaic

perf: Add index that covers orchestration instance search (#184)
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502171057 Add search index to Orchestration Instance.sql
Owners: @Energinet-DataHub/team-mosaic

Add WholesaleContext and types necessary to be able to read Calculations table in a Wholesale database
  source/ProcessManager.Orchestrations.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/WholesaleMigrationExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/MeasurementsMeteredDataClientOptions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/WholesaleMigrationOptions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/CalculationEntityConfiguration.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/Calculation.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/CalculationExecutionState.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/CalculationJobId.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/CalculationOrchestrationState.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/CalculationType.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/GridAreaCode.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/OrchestrationInstanceId.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/Model/QuantityUnit.cs
  source/ProcessManager.Orchestrations/InternalProcesses/WholesaleMigration/Wholesale/WholesaleContext.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Program.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Addepted to new step pattern
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationInstanceContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/CalculationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/EnqueueMessagesStep.cs
Owners: @Energinet-DataHub/team-mosaic

Moved magic string
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/CalculationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/EnqueueMessagesStep.cs
Owners: @Energinet-DataHub/team-mosaic

Implemented WholesaleDatabaseManager for testing
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/WholesaleMigrationExtensions.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Add internal calculation migration process
  .editorconfig
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Steps/ExampleStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Steps/WaitForNotifyEventStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Steps/EnqueueActorMessagesStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Steps/FailingStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Steps/SuccessStep.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/MigrateCalculationsFromWholesaleUniqueName.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Models/CalculationsToMigrate.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Orchestration_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/GetCalculationsToMigrateStep.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Steps/EnqueueActorMessagesStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/EnqueueActorMessagesStep.cs
  source/Shared/Processes/Activities/StepExecutor.cs
Owners: @Energinet-DataHub/team-mosaic

Update MigrateCalculationsStep.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
Owners: @Energinet-DataHub/team-mosaic

Update .editorconfig
  .editorconfig
Owners: @Energinet-DataHub/team-mosaic

Add test
  source/ProcessManager.Orchestrations.Abstractions/InternalProcesses/MigrateCalculationsFromWholesale/MigrateCalculationsFromWholesaleUniqueName.cs
  source/ProcessManager.Orchestrations.Abstractions/InternalProcesses/MigrateCalculationsFromWholesale/V1/MigrateCalculationsFromWholesaleCommandV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Orchestration_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Fix seed script
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic

Update source/Shared/Processes/Activities/StepExecutor.cs
  source/Shared/Processes/Activities/StepExecutor.cs
Owners: @Energinet-DataHub/team-mosaic

Update MigrateCalculationsFromWholesaleCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/InternalProcesses/MigrateCalculationsFromWholesale/V1/MigrateCalculationsFromWholesaleCommandV1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add internal calculation migration process (#188)
  .editorconfig
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Steps/ExampleStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Steps/WaitForNotifyEventStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Steps/EnqueueActorMessagesStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Steps/FailingStep.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Steps/SuccessStep.cs
  source/ProcessManager.Orchestrations.Abstractions/InternalProcesses/MigrateCalculationsFromWholesale/MigrateCalculationsFromWholesaleUniqueName.cs
  source/ProcessManager.Orchestrations.Abstractions/InternalProcesses/MigrateCalculationsFromWholesale/V1/MigrateCalculationsFromWholesaleCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Models/CalculationsToMigrate.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Orchestration_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/GetCalculationsToMigrateStep.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Steps/EnqueueActorMessagesStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/BusinessValidationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Steps/EnqueueActorMessagesStep.cs
  source/Shared/Processes/Activities/StepExecutor.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian
