Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Grpc
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix markdown
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Initial test of starting an example orchestration
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/Orchestrations_Brs_Xyz_Example_V1_Tests.cs
  source/Example.Orchestrations/Example.Orchestrations.csproj
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Activities/ProgressActivityBase.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Activities/StartActivity_Brs_Example_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Orchestration_Brs_Xyz_Example_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix cachekeys. PR feedback
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
Owners: @Energinet-DataHub/TheOutlaws

Enable YAML lint
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump client packages
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix yaml
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

fix yaml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix yaml
  .github/actions/dotnet-affected/action.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Change names from mountains to versioned names
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Build versions
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix jobnames
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix yaml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Do not use _sut to add data
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core/Application/Scheduling/IRecurringOrchestrationQueries.cs
  source/ProcessManager.Core/Infrastructure/Scheduling/RecurringOrchestrationQueries.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

SearchScheduledOrchestrationInstancesAsync
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core/Infrastructure/Scheduling/RecurringOrchestrationQueries.cs
Owners: @Energinet-DataHub/team-mosaic

DI registration
  source/ProcessManager/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Remove use of ProcessManagerCoreCollection
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreCollection.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
  source/ProcessManager/Scheduler/SchedulerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Plan
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Update service bus sender name
  source/ProcessManager.Client/Extensions/DependencyInjection/ClientExtensions.cs
  source/ProcessManager.Client/Extensions/DependencyInjection/ServiceBusSenderNames.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
Owners: @Energinet-DataHub/team-mosaic

Test using mock
  source/ProcessManager.Core/Application/Orchestration/IStartOrchestrationInstanceCommands.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Dispose
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

Dispose
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

Removed comment
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Tests/Fixtures/RecurringPlannerHandlerFixture.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Cleanup
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Adjust naming
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Add names
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Simplify convertion to instant
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Remove version tag
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Refactor to use user identity for scheduling recurring jobs
  source/ProcessManager.Core/Application/Orchestration/IStartOrchestrationInstanceCommands.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic

green test
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/ExampleInput.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/Input_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/Orchestrations_Brs_Xyz_Example_V1_Tests.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Orchestration_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/StartHandler_Brs_Xyz_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/StartTrigger_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoringStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename of input
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/SearchHandler_Brs_Xyz_Example.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

test: impl ForwardMeteredData_WhenStartedUsingClient_CanMonitorLifecycle (#37)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoringStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Green test and rename
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/Orchestrations_Brs_Xyz_Example_V1_Tests.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/StartHandler_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/StartTrigger_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Update source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Recurring orchestrations (#36)
  docs/ProcessManager/Development.md
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreCollection.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescription/OrchestrationDescriptionTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescription/ParameterDefinitionTests.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Application/Scheduling/IRecurringOrchestrationQueries.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationDescriptionEntityConfiguration.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Scheduling/RecurringOrchestrationQueries.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202412101700 Add RecurringCronExpression.sql
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
  source/ProcessManager.Tests/Fixtures/RecurringPlannerHandlerFixture.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager/Program.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
  source/ProcessManager/Scheduler/RecurringPlannerTrigger.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
