Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Update source/ProcessManager.sln.DotSettings
  source/ProcessManager.sln.DotSettings
Owners: @Energinet-DataHub/team-mosaic

remove file to stop waiting for Mosaic review
  source/ProcessManager.sln.DotSettings
Owners: @Energinet-DataHub/team-mosaic

-klm
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

æl
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

feat: Make BRS-021 electrical heating recurring (#25)
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

ælj
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Print debug output
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

chore: Avoid Rider typo complaint about "Energinet"
  source/ProcessManager.sln.DotSettings
Owners: @Energinet-DataHub/team-mosaic

Build and merge artifact
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Change name
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix build error
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add comment
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

chore: Avoid Rider typo complaint about "Energinet" (#27)
  source/ProcessManager.sln.DotSettings
Owners: @Energinet-DataHub/team-mosaic

Doh !
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove commented-out code
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

feat: Make BRS-021 electrical heating registration more generic
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStepTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/StepIdentifierDto.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Make BRS-021 electrical heating registration more generic (#28)
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStepTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/StepIdentifierDto.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

try this
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick Nuget build
  source/ProcessManager.Client/IProcessManagerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Dont screw with license lines
  .github/workflows/ci-orchestrator.yml
  source/ProcessManager.Client/IProcessManagerClient.cs
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

feat: Avoid bad identities (disable trigger temporarily)
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Avoid bad identities (disable trigger temporarily) (#29)
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add quick StartRequestCalculatedEnergyTimeSeriesCommandV1 test
  source/ProcessManager.Client.Tests/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

Run integration tests
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix assemblyname
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump Nuget version to 0.14.1
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Run tests
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Added initial BRS021 models and classes
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/Brs_021_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/EnergyObservation.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/MeteredDataForMeasurementPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/MeteredDataForMeasurementPointMessageSeries.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/StartMeteredDataForwardingCommandV1.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/V1/Orchestration_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add project_name
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove debug print
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @Energinet-DataHub/TheOutlaws

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @Energinet-DataHub/TheOutlaws

Rename
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/ExampleQueryResult.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/ExampleTypes.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/Input_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/ScheduleCommand_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/StartCommand_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Activities/ProgressActivityBase.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Activities/StartActivity_Brs_Example_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Orchestration_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/SearchHandler_Brs_Xyz_Example.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

updated input
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/Brs_021_MeteredDataForwarding_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/Brs_021_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/MeteredDataForMeasurementPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/StartMeteredDataForwardingCommandV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/MeteredDataForwarding/V1/Orchestration_Brs_021_MeteredDataForwarding_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/Brs_021_MeteredDataForwarding_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/MeteredDataForwarding/V1/Model/StartMeteredDataForwardingCommandV1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated added release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

updated
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic
