Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Do not use ProcessManager telemetry const in example app
  source/ProcessManager.Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Reusable activities (#121)
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToRunningActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Model/OrchestrationExecutionPlan.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/TransitionStepToRunningActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/Composite/BRS_026_028/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/Composite/BRS_026_028/SearchTrigger_Brs_026_028.cs
  source/Shared/Processes/Activities/TransitionOrchestrationToRunningActivity_V1.cs
  source/Shared/Processes/Activities/TransitionOrchestrationToTerminatedActivity_V1.cs
  source/Shared/Processes/Activities/TransitionStepToRunningActivity_V1.cs
  source/Shared/Processes/Activities/TransitionStepToTerminatedActivity_V1.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/TransitionStepToRunningActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/TransitionStepToTerminatedActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/TransitionStepToRunningActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/TransitionStepToRunningActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/TransitionStepToTerminatedActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

feat: terminate orchestration when async validation fails
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

feat: terminate orchestration when async validation fails (#122)
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Fix duplicate functions
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleConsumerAppManager.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionOrchestrationToRunningActivity_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionOrchestrationToTerminatedActivity_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionStepToRunningActivity_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/Shared/Activities/TransitionStepToTerminatedActivity_V1.cs
Owners: @Energinet-DataHub/team-mosaic

fix: workaround for missing connection string to electricity market
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Review fixes
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Tests/Unit/Api/NotifyOrchestrationInstanceTriggerTests.cs
Owners: @Energinet-DataHub/team-mosaic

fix: missing connection string to electricity market (#123)
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

updated after review
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingDurableClientScenario.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Remove skippable steps from example BRS-X01
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Remove skippable steps from example BRS-X01
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

test: Add consumer example app (#119)
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Example.Consumer/Extensions/Options/EdiTopicOptions.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/EnqueueActorMessagesTrigger_Brs_X03.cs
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Consumer/Monitor/HealthCheckEndpoint.cs
  source/ProcessManager.Example.Consumer/ProcessManager.Example.Consumer.csproj
  source/ProcessManager.Example.Consumer/Program.cs
  source/ProcessManager.Example.Consumer/Properties/launchSettings.json
  source/ProcessManager.Example.Consumer/host.json
  source/ProcessManager.Example.Consumer/local.settings.sample.json
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleEnqueueDataV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleNotifyEventsV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleV1.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleConsumerAppManager.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X03_ActorRequestProcessExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/GetOrchestrationExecutionPlanActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/TerminateOrchestrationActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/TransitionStepToRunningActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueActorMessagesActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartTrigger_Brs_X03_V1.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/Unit/Api/NotifyOrchestrationInstanceTriggerTests.cs
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Refactor BRS-026 & 028 to use shared transition activities
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/GetOrchestrationInstanceContextActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Models/OrchestrationInstanceContext.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/GetOrchestrationInstanceContextActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateOrchestrationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/TerminateStepActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Models/OrchestrationInstanceContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/GetOrchestrationInstanceContextActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/PerformAsyncValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/StartOrchestrationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/TerminateOrchestrationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Models/OrchestrationInstanceContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Idempotent DurableOrchestrationInstanceExecutor
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceExecutor.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

DurableOrchestrationInstanceExecutorTests
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
Owners: @Energinet-DataHub/team-mosaic

Test names
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
Owners: @Energinet-DataHub/team-mosaic

Add energy validation rules from Wholesale
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/SettlementMethod.cs
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/ValueObjects/SettlementVersion.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/ActorNumberValidationHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Helpers/EnergySupplierIsOnlyAllowedToRequestOwnDataHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Helpers/GridAreaValidationHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Helpers/IGridAreaOwnerRepository.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Helpers/PeriodValidationHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Helpers/SettlementVersionValidationHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/IValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/IValidator.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/RequestCalculatedEnergyTimeSeriesValidator.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/BalanceResponsibleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/EnergySupplierValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/GridAreaValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/MeteringPointTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/PeriodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/RequestedByActorRoleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/SettlementMethodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/SettlementVersionValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/Rules/TimeSeriesTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/ValidationError.cs
Owners: @Energinet-DataHub/team-mosaic

Update source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingDurableClientScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingDurableClientScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingDurableClientScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingDurableClientScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingDurableClientScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingDurableClientScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor BRS-026 validation rules
  source/ProcessManager.Components/BusinessValidation/BusinessValidatorBase.cs
  source/ProcessManager.Components/BusinessValidation/GridAreaOwner/IGridAreaOwnerClient.cs
  source/ProcessManager.Components/BusinessValidation/Helpers/ActorNumberValidationHelper.cs
  source/ProcessManager.Components/BusinessValidation/Helpers/PeriodValidationHelper.cs
  source/ProcessManager.Components/BusinessValidation/IBusinessValidationRule.cs
  source/ProcessManager.Components/BusinessValidation/ValidationError.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesRejectedV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformBusinessValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/IValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/AsyncValidation/RequestCalculatedEnergyTimeSeriesValidator.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Helpers/EnergySupplierIsOnlyAllowedToRequestOwnDataHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Helpers/GridAreaValidationHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Helpers/SettlementVersionValidationHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesBusinessValidator.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/BalanceResponsibleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/EnergySupplierValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/GridAreaValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/MeteringPointTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/PeriodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/RequestedByActorRoleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/SettlementMethodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/SettlementVersionValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/TimeSeriesTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix orchestration description unique names
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/Brs_X01_InputExample.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/InputExampleQuery.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/Model/ScheduleInputExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/Model/StartInputExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/Brs_X01_NoInputExample.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/V1/Model/StartNoInputExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Remove using
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
Owners: @Energinet-DataHub/team-mosaic

Cleanup
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
Owners: @Energinet-DataHub/team-mosaic

wip
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessageInputV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ValidationStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

wip 2
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/ValidationError.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

wip 3
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessageInputV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Move tests
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreAppCollection.cs
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreAppFixture.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleConsumerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Ensure tests can run aginst integration tests environment
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core.Tests/functionapphost.settings.json
  source/ProcessManager.Core.Tests/integrationtest.local.settings.sample.json
Owners: @Energinet-DataHub/team-mosaic

feat: Idempotency in DurableOrchestrationInstanceExecutor (#125)
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreAppCollection.cs
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreAppFixture.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core.Tests/functionapphost.settings.json
  source/ProcessManager.Core.Tests/integrationtest.local.settings.sample.json
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceExecutor.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/Brs_X01_InputExample.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/InputExampleQuery.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/Model/ScheduleInputExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/Model/StartInputExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/Brs_X01_NoInputExample.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/V1/Model/StartNoInputExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleConsumerAppManager.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

test: minimize brs021 forward-metered-data orch for perf test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationInitializeActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/OrchestrationDescriptionBuilder.cs
Owners: @Energinet-DataHub/team-mosaic
