Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Fixed wrong command type for BRS021
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/StartRequestCalculatedEnergyTimeSeriesCommandV1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

rename and test validation of activities
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/Model/ExampleSkipStep.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/Orchestrations_Brs_Xyz_Example_V1_Tests.cs
  source/Example.Orchestrations.Tests/Models/OrchestrationHistoryItem.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Activities/SkipAbleActivity_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Activities/StartActivity_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/Orchestration_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/V1/StartHandler_Brs_Xyz_Example_V1.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

remove redundant check
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/Orchestrations_Brs_Xyz_Example_V1_Tests.cs
Owners: @Energinet-DataHub/team-mosaic

Take 1, nuget packages
  .github/workflows/ci-dotnet-nuget.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump version tag
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename of test class
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsCompletionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

green search test without input
  source/Example.Orchestrations.Abstrations/Processes/BRS_XYZ/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_XYZ/Examples/V1/OrchestrationsSearchTests.cs
  source/Example.Orchestrations/Processes/BRS_XYZ/Example/SearchTrigger_Brs_Xyz_Example.cs
Owners: @Energinet-DataHub/team-mosaic

Bump ProcessManager Client version
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/StartRequestCalculatedEnergyTimeSeriesCommandV1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump ProcessManager Client version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/StartRequestCalculatedEnergyTimeSeriesCommandV1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Create workflow for monorepo CI build (#18)
  .github/actions/dotnet-affected/Find-AffectedProjects.Tests.ps1
  .github/actions/dotnet-affected/Find-AffectedProjects.ps1
  .github/actions/dotnet-affected/action.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
  .github/workflows/processmanager-client-bundle-publish.yml
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.DatabaseMigration/DbUpgrader.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix cd.yml
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix trailing spaces
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix matrix
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

debug output
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Attempt fix
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick CI
  source/ProcessManager/Api/CancelScheduledOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

Fix broken cd.yml (#41)
  .github/workflows/cd.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-orchestrator.yml
  source/ProcessManager/Api/CancelScheduledOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Print debug
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

Add Databricks components
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsManager.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsManager.cs
  source/ProcessManager.Components/Databricks/Jobs/JobRunId.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Refactor parameters
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsManager.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsManager.cs
Owners: @Energinet-DataHub/team-mosaic

Test project
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsManager.cs
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Move duplicate code to detect-changes
  .github/workflows/cd.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

show progress
  .github/workflows/cd.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

List files
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Run on ubuntu-22.04
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Ensure JSON output when input is null
  .github/actions/dotnet-affected/Find-AffectedProjects.Tests.ps1
  .github/actions/dotnet-affected/Find-AffectedProjects.ps1
Owners: @Energinet-DataHub/TheOutlaws

Set empty job context if no changes were found
  .github/actions/dotnet-affected/Find-AffectedProjects.Tests.ps1
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Try without if
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Silence error if no file is found
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Reduce nesting
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove line
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Check that detect-changes work
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppCollection.cs
Owners: @Energinet-DataHub/team-mosaic

Remove if
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

debug print
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove job step for debugging
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Arrays with one item....
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove trailing spaces
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Add shell
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove test run
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppCollection.cs
Owners: @Energinet-DataHub/team-mosaic

Kick CI
  source/ProcessManager.Core/Application/Orchestration/IUnitOfWork.cs
Owners: @Energinet-DataHub/team-mosaic
