Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Enable changing function name on existing description (#89)
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/Api/Model/IOrchestrationInstanceTypedDto.cs
Owners: @Energinet-DataHub/team-mosaic

Release note
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Comments
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/IActorRequestQueryResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/RequestCalculatedEnergyTimeSeriesResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/RequestCalculatedWholesaleServicesResult.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchTrigger_Brs_026_028.cs
Owners: @Energinet-DataHub/team-mosaic

Add major/minor versions
  source/ProcessManager.Abstractions/Contracts/EnqueueMessagesDtoV1.cs
  source/ProcessManager.Abstractions/Contracts/EnqueueMessagesDtoV1.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationDtoV1.cs
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationDtoV1.proto
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
Owners: @Energinet-DataHub/team-mosaic

Return info about unique name in search
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchActorRequestHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Rename mock method
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add const for calcationName
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Const for calculation job name
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rearrange
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Components.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Components/Measurements/Contracts/DecimalValue.proto
  source/ProcessManager.Components/Measurements/Contracts/PersistSubmittedTransaction.proto
  source/ProcessManager.Components/Measurements/Mappers/DecimalValueMapper.cs
  source/ProcessManager.Components/Measurements/Mappers/MeteredDataToMeasurementMapper.cs
  source/ProcessManager.Components/Measurements/MeasurementsMeteredDataClient.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Components/Measurements/Contracts/DecimalValue.proto
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Components/Datahub/ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Components/Datahub/ValueObjects/MeteringPointType.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Components/Extensions/Mapper/DictionaryExtensions.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add versioning to service bus messages
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.cs
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.proto
  source/ProcessManager.Abstractions/Contracts/EnqueueMessagesDtoV1.cs
  source/ProcessManager.Abstractions/Contracts/EnqueueMessagesDtoV1.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationDtoV1.cs
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationDtoV1.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationV1.cs
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationV1.proto
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Updated
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Extensions/InstantPatternWithOptionalSeconds.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Rename MessageId to IdempotencyKey
  source/ProcessManager.Abstractions/Api/Model/MessageCommand.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
Owners: @Energinet-DataHub/team-mosaic

Add format to service bus message
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationV1.proto
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Bump client packages
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Update EnqueueActorMessagesV1.proto
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.proto
Owners: @Energinet-DataHub/team-mosaic

Update release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Add instance id to enqueue messages
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/IEnqueueActorMessagesClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Bump orchestrations version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Extend OrchestrationInstance with IdempotencyKey
  source/ProcessManager.Abstractions/Api/Model/MessageCommand.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202501131400 Add IdempotencyKey.sql
Owners: @Energinet-DataHub/team-mosaic

Dependency injected is done by core
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core/Application/IServiceCollectionAdder.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Options/OrchestrationOptions_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/ServiceCollectionAdder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Options/OrchestrationOptions_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/ServiceCollectionAdder.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Move files
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/ServiceCollectionAdder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/ServiceCollectionAdder.cs
Owners: @Energinet-DataHub/team-mosaic

Removed unused reference
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version and release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Components/Extensions/Options/MeasurementsMeteredDataClientOptions.cs
  source/ProcessManager.Orchestrations/local.settings.sample.json
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Require IdempotencyKey in handlers
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic

aded unit test
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Measurements/Contracts/DecimalValue.proto
  source/ProcessManager.Components.Tests/Unit/Measurements/Contracts/PersistSubmittedTransaction.proto
  source/ProcessManager.Components.Tests/Unit/Measurements/Contracts/PersistSubmittedTransactionTests.cs
  source/ProcessManager.Components.Tests/Unit/Measurements/Mappers/MeteredDataToMeasurementMapperTests.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix PM client
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManagerMessageClient.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
Owners: @Energinet-DataHub/team-mosaic

Implement IdempotencyKey in domain model
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceRepository.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/IdempotencyKey.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
Owners: @Energinet-DataHub/team-mosaic

pr updates
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core/Application/IOptionsConfiguration.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/OptionsConfiguration.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Options/OrchestrationOptions_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/MockingHelpers/CallbackValue.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/OptionsConfiguration.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ServiceBusMessageExtensions.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Move CallBackValue to new namespace
  source/ProcessManager.Orchestrations.Tests/Fixtures/Wiremock/CallbackValue.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
