Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

bump version + release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

fix: Re-enable Electricity Market integration
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

test fix
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Raise partitionCount to max
  source/ProcessManager.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

refac: Raise partitionCount to max (#129)
  source/ProcessManager.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

Add notify in abstrations
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/NotifyEnqueueFinishedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Initial test update after monitor pattern
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/NotifyEnqueueFinishedV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor validation framework
  source/ProcessManager.Abstractions/Components/BusinessValidation/IBusinessValidatedDto.cs
  source/ProcessManager.Abstractions/Components/BusinessValidation/ValidationErrorDto.cs
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/BusinessValidationExtensionsTests.cs
  source/ProcessManager.Components/BusinessValidation/BusinessValidator.cs
  source/ProcessManager.Components/BusinessValidation/BusinessValidatorBase.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleEnqueueRejectedDataV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X03_ActorRequestProcessExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueRejectedActorMessageActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/PerformBusinessValidationActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/BusinessValidation/ActorRequestProcessExampleValidator.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/BusinessValidation/ValidationRules/BusinessReasonValidationRule.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Orchestration_Brs_X03_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformBusinessValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesBusinessValidator.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Update test
  source/ProcessManager.Example.Consumer/Functions/BRS_X03_ActorRequestProcessExample/StartTrigger_Brs_X03.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X03_ActorRequestProcessExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Add missing dependency
  source/ProcessManager.Components/BusinessValidation/BusinessValidatorBase.cs
  source/ProcessManager.Components/BusinessValidation/IBusinessValidationRule.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Add tests from Wholesale
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump package versions
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Add servicebus topic to app settings
  source/ProcessManager.Client/Extensions/Options/ProcessManagerServiceBusClientOptions.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add namespace
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix test
  source/ProcessManager.Components/BusinessValidation/BusinessValidator.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

rollback
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/OrchestrationDescriptionBuilder.cs
Owners: @Energinet-DataHub/team-mosaic

updated mocking method
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

test: minimize brs021 forward-metered-data orch for perf test (#127)
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationInitializeActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Corrected assertion types
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Add mocking response to durable task client tests
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

hopefully green tests
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add unit test of rules
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/BalanceResponsibleValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/EnergySupplierValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/GridAreaValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/MeteringPointTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/PeriodValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/RequestedByActorRoleValidationRuleTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/SettlementMethodValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/SettlementVersionValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/BusinessValidation/Rules/TimeSeriesTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/Rules/GridAreaValidationRule.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Refactor tests
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/StartersAndMockers.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Set custom state
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformBusinessValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesBusinessValidator.cs
Owners: @Energinet-DataHub/team-mosaic

Update Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
Owners: @Energinet-DataHub/team-mosaic

refactoring
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update BusinessValidationExtensionsTests.cs
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/BusinessValidationExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

add BOM
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update nuget version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Test if EDI does not respond
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Comment update
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename variable
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Check for breaking changes when updating orchestration description
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Application/FeatureFlags/FeatureFlag.cs
  source/ProcessManager.Core/Application/FeatureFlags/IFeatureFlagManager.cs
  source/ProcessManager.Core/Application/Registration/IOrchestrationRegister.cs
  source/ProcessManager.Core/Application/Registration/OrchestrationRegisterExtensions.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/ParameterDefinition.cs
  source/ProcessManager.Core/Infrastructure/Database/ProcessManagerContext.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Options/ProcessManagerOptions.cs
  source/ProcessManager.Core/Infrastructure/FeatureFlags/MicrosoftFeatureFlagManager.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
Owners: @Energinet-DataHub/team-mosaic

Nuget version
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Add logging
  source/ProcessManager.Core/Application/Registration/IOrchestrationRegister.cs
  source/ProcessManager.Core/Application/Registration/OrchestrationRegisterExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Fix build
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Application/Registration/IOrchestrationRegister.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Scoped command
  source/ProcessManager/Scheduler/SchedulerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
