Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Adapt TryGetStep method
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Add Try/Get method for StepInstance
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Add tests for try/get method
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstances/OrchestrationInstanceStepsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Adjust usings
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstances/OrchestrationInstanceStepsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Don't force push NuGet packages when building on main
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump versions because we have updated workflow file
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Add EDI topic to orchestration tests
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump process manager client version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

refac: Don't force push NuGet packages when building on main (#76)
  .github/workflows/processmanager-client-bundle-publish.yml
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Fix DI
  source/ProcessManager.Components/Extensions/DependencyInjection/EnqueueMessagesExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Move app managers to shared
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/Shared/ProcessManager/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Shared/ProcessManager/Tests/Fixtures/OrchestrationsAppManager.cs
  source/Shared/ProcessManager/Tests/Fixtures/ProcessManagerAppManager.cs
  source/Shared/ProcessManager/Tests/Fixtures/ProcessManagerDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add enqueue messages to BRS 028
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescriptionUniqueName.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic

Add validaton result activity output
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesRejectedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesRejectedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/PerformAsyncValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Create MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

Markdown lint
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Corrected namespaces for shared stuff
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreFixture.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/Fixtures/RecurringPlannerHandlerFixture.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
  source/ProcessManager/Api/GetOrchestrationInstanceByIdTrigger.cs
  source/ProcessManager/Api/SearchOrchestrationInstancesByNameTrigger.cs
  source/ProcessManager/ProcessManager.csproj
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/ProcessManagerAppManager.cs
  source/Shared/Tests/Fixtures/ProcessManagerDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Rename of test
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

Update summary of test
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

chore: Move test app managers and api mappers to shared (#77)
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerCoreFixture.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/Fixtures/RecurringPlannerHandlerFixture.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
  source/ProcessManager/Api/GetOrchestrationInstanceByIdTrigger.cs
  source/ProcessManager/Api/SearchOrchestrationInstancesByNameTrigger.cs
  source/ProcessManager/ProcessManager.csproj
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/ProcessManagerAppManager.cs
  source/Shared/Tests/Fixtures/ProcessManagerDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

test: Add function history tests to example orchestrations (#72)
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Models/OrchestrationHistoryItem.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Refactor OrchestrationInstance
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Fix location and namespace
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Align test names
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescription/OrchestrationDescriptionTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update processmanager-client-bundle-publish.yml
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Test to verify databricksJobsClient via wiremock
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/Shared/Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Get step instance method on OrchestrationInstance (#74)
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescription/OrchestrationDescriptionTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Additional tests for status mocking
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/Shared/Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Print variables
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Update processmanager-client-bundle-publish.yml
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Moved sut initialization to constructor
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update namespace
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/Shared/Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Removed "jobname" from mocking method
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/Shared/Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update processmanager-client-bundle-publish.yml
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Update processmanager-client-bundle-publish.yml
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Sut and MockServer are private without get
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update processmanager-client-bundle-publish.yml
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Test: Test to verify databricksJobsClient via wiremock (#79)
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/Shared/Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Initial example orchestration documentation
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Shared ServiceCollectionExtensions
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
  source/ProcessManager.Components.Tests/Fixtures/HealthChecksFixture.cs
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/Shared/Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian
