Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix orchestration description builder
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
Owners: @Energinet-DataHub/team-mosaic

Update steps configuration
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationDescriptionEntityConfiguration.cs
Owners: @Energinet-DataHub/team-mosaic

Fix steps entity configuration
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationDescriptionEntityConfiguration.cs
Owners: @Energinet-DataHub/team-mosaic

Orchestration register health check WIP
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Startup/HostExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegisterContext.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X04_OrchestrationDescriptionBreakingChanges/BreakingChangesOrchestrationDescriptionBuilder.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor before review
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationDescriptionEntityConfiguration.cs
  source/ProcessManager.Core/Infrastructure/Database/ProcessManagerContext.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
Owners: @Energinet-DataHub/team-mosaic

Updates after review
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/GetOrchestrationInstanceContextActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueRejectedActorMessageActivity_Brs_X03_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/BusinessValidation/ActorRequestProcessExampleValidator.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/GetOrchestrationInstanceContextActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Update test
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Fix name
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
Owners: @Energinet-DataHub/team-mosaic

Fix build
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add `Sender` to `MeteredDataForMeteringPointMessageInputV1`
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update test
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
Owners: @Energinet-DataHub/team-mosaic

test fix mayhaps?
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Check for breaking changes when updating orchestration description (#131)
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Application/FeatureFlags/FeatureFlag.cs
  source/ProcessManager.Core/Application/FeatureFlags/IFeatureFlagManager.cs
  source/ProcessManager.Core/Application/Registration/IOrchestrationRegister.cs
  source/ProcessManager.Core/Application/Registration/OrchestrationRegisterExtensions.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/ParameterDefinition.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationDescriptionEntityConfiguration.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Options/ProcessManagerOptions.cs
  source/ProcessManager.Core/Infrastructure/FeatureFlags/MicrosoftFeatureFlagManager.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

pr updated
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

feat: Wait for notify from EDI for brs 23 27(#130)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/NotifyEnqueueFinishedV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix test
  source/ProcessManager.Core/Infrastructure/Extensions/Startup/HostExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegisterContext.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor test
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Use nameof()
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update comments
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Remove unused code
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Move validation helpers to shared namespace
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/EnergySupplierValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/GridAreaValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/SettlementVersionValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/EnergySupplierIsOnlyAllowedToRequestOwnDataHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/GridAreaValidationHelper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/SettlementVersionValidationHelper.cs
Owners: @Energinet-DataHub/team-mosaic

Refactors after review
  source/ProcessManager.Core/Infrastructure/Diagnostics/HealthChecks/OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Startup/HostExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Core/Infrastructure/Diagnostics/HealthChecks/OrchestrationRegisterHealthCheck.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Core/Infrastructure/Diagnostics/HealthChecks/OrchestrationRegisterHealthCheck.cs
Owners: @Energinet-DataHub/team-mosaic

Update OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Core/Infrastructure/Diagnostics/HealthChecks/OrchestrationRegisterHealthCheck.cs
Owners: @Energinet-DataHub/team-mosaic

Update source/ProcessManager.Core/Infrastructure/Diagnostics/HealthChecks/OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Core/Infrastructure/Diagnostics/HealthChecks/OrchestrationRegisterHealthCheck.cs
Owners: @Energinet-DataHub/team-mosaic

Default AllowOrchestrationDescriptionBreakingChanges to true
  source/ProcessManager.Core/Infrastructure/Extensions/Options/ProcessManagerOptions.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test ...
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add orchestration register health check (#133)
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core/Infrastructure/Diagnostics/HealthChecks/OrchestrationRegisterHealthCheck.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Options/ProcessManagerOptions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Startup/HostExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegisterContext.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X04_OrchestrationDescriptionBreakingChanges/BreakingChangesOrchestrationDescriptionBuilder.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Add custom queries folder
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/CustomQueries/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/CustomQueries/IActorRequestQueryResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/CustomQueries/RequestCalculatedEnergyTimeSeriesResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/CustomQueries/RequestCalculatedWholesaleServicesResult.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchTrigger_Brs_023_027.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/CustomQueries/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/CustomQueries/SearchTrigger_Brs_026_028.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix namespace
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchTrigger_Brs_023_027.cs
Owners: @Energinet-DataHub/team-mosaic

Remove folder includes
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Allow Moq to mock internal interfaces
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

First test
  source/ProcessManager.Tests/Fixtures/SchedulerHandlerFixture.cs
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Additional test
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

Comments
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
