Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

2660: add missing PR number from build
  .github/workflows/ci-dotnet.yml
Owners: @Energinet-DataHub/TheOutlaws

Update Program.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

2660: add PR number to dotnet publish (#66)
  .github/workflows/ci-dotnet.yml
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Update geh-core
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic

webapp update
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

xunit in example
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

chore: Update nuget packages (#68)
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic

Mocking databricks job status
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

rename file and add act inp
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformAsyncValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

fetch master data act
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FetchMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

wip
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FetchMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformAsyncValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

before christmas
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationInitializeActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformAsyncValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ValidationStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

rebase fixes
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FetchMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Remove mock server when doing health checks
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Using mocked status api for calculatorJob
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Reduce wait time
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add BRS-028 walking skeleton
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesCommandV1.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/PerformAsyncValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/StartOrchestrationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/TerminateOrchestrationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/TerminateStepActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/StartTrigger_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add durable task client
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Make wiremock port configurable
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

test: Mocking databricks job status (#69)
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update Orchestrations.Abstractions package version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

databaseoptions__constring
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

History test of example orchestration
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Update file name
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Add BRS-028 walking skeleton (#71)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesCommandV1.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/PerformAsyncValidationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/StartOrchestrationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/TerminateOrchestrationActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/TerminateStepActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/StartTrigger_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test to show that the history is dependent of skipped steps
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic

Summary for OrchestrationHistoryItem
  source/ProcessManager.Example.Orchestrations.Tests/Models/OrchestrationHistoryItem.cs
Owners: @Energinet-DataHub/team-mosaic

Newline added
  source/ProcessManager.Example.Orchestrations.Tests/Models/OrchestrationHistoryItem.cs
Owners: @Energinet-DataHub/team-mosaic

using async dispose of durableTaskManager
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
Owners: @Energinet-DataHub/team-mosaic

Remove unused nuget package
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Add Try/Get method for StepInstance
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Add tests for try/get method
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstances/OrchestrationInstanceStepsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Adapt TryGetStep method
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Adjust usings
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstances/OrchestrationInstanceStepsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Add enqueue messages client
  source/ProcessManager.Abstractions/Contracts/EnqueueMessagesDto.proto
  source/ProcessManager.Components/EnqueueMessages/EnqueueMessagesClient.cs
  source/ProcessManager.Components/EnqueueMessages/IEnqueueMessagesClient.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/EnqueueMessagesExtensions.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/ServiceBusSenderNames.cs
  source/ProcessManager.Components/Extensions/Options/EdiTopicOptions.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Remove explicit dependency to Abstractions
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic

Remove explicit dependency to Abstractions (#75)
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic

Use enqueue message client in activities
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescriptionUniqueName.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic
