Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Context
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update check
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Orchestration_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

fixup! feat: Log unknown notification as a warning instead of an exception
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix skipped
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

fixup! feat: Log unknown notification as a warning instead of an exception
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/ProcessManagerContextExtensions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContext.cs
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

use IHE to determine if err or war
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Migrate calculations (#193)
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceFactory.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceFactory.cs
  source/ProcessManager.Core/Application/Scheduling/DataHubSystemAdministrator.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstanceCustomState.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/MigrateCalculationActivityFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/WholesaleDatabaseExtensions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

OrchestrationInstanceCustomState
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstanceCustomState.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

SerializableValue
  source/ProcessManager.Core/Domain/OrchestrationInstance/SerializableValue.cs
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Add test
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivityTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculationsActivityTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

ON DELETE CASCADE
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502211500 Add on delete cascade.sql
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

refac: ON DELETE CASCADE (#199)
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202502211500 Add on delete cascade.sql
Owners: @Energinet-DataHub/team-mosaic

SerializedValueType
  source/ProcessManager.Core/Domain/OrchestrationInstance/SerializedValueType.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Validate migrated calculations in orchestration (#196)
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivityTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Orchestration_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/ProcessManagerContextExtensions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContext.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Deleted OrchestrationInstanceCustomState
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstanceCustomState.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/SerializedValueType.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Cleanup
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculationsActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

feat: event based brs021 orchestration
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeteringPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoringStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/EdiEnqueuedMeteredDataTrigger_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/MeasurementReceivedMeteredDataTrigger_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic

to fix a test maybe?
  source/ProcessManager.Core.Tests/Integration/Application/Orchestration/IStartOrchestrationInstanceMessageCommandsTests.cs
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

fixup! to fix a test maybe?
  source/ProcessManager.Core.Tests/Integration/Application/Orchestration/IStartOrchestrationInstanceMessageCommandsTests.cs
  source/ProcessManager.Tests/Integration/Scheduler/SchedulerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
