Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Grpc.tools
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Skip steps
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Enable integration tests again
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Set relative path correct
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Create database artifact
  source/ProcessManager.DatabaseMigration/DbUpgrader.cs
Owners: @Energinet-DataHub/team-mosaic

Add nuget to allow_merge
  .github/workflows/ci-orchestrator.yml
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix cache key
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Attempt to fix path
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Use backslash...
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Delete dead code
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Update ExampleOrchestrationsAppManager.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Starting correct app
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix relative path
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add dot
  source/ProcessManager.Client/IProcessManagerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Add Tests
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Add dot
  source/ProcessManager/Scheduler/SchedulerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

updated description
  source/ProcessManager.Orchestrations/Processes/BRS_021/MeteredDataForwarding/V1/Orchestration_Brs_021_MeteredDataForwarding_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Revert paths
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update Durable Function TestCommon
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Clean up
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Update service bus client options
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client/Extensions/DependencyInjection/ClientExtensions.cs
  source/ProcessManager.Client/Extensions/Options/ProcessManagerServiceBusClientOptions.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update from prerelease to actual release
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Remove options validate on start
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update client version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

renamed
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/EnergyObservation.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeasurementPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

decouple steps from orchestration
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: create orchestration for brs21 metered data (#31)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/EnergyObservation.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeasurementPointMessageInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: added activities for ForwardMeteredData Orchestration
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FetchMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/MeteringPointExistsActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationInitializeActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ValidationStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsEnqueuedActivity_Brs_021_MeteredDataForwarding_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsStoredActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataTriggerV1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

clean up
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ValidationStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsEnqueuedActivity_Brs_021_MeteredDataForwarding_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandler.cs
  source/ProcessManager.Orchestrations/local.settings.sample.json
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

rename
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

updated with test subscription
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated name
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Pretty print matrix
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Build SUT project as well
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix comment
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws
