Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add positive test of AddProcessManagerHttpClients
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

build: Update how NuGet packages are published (#78)
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Negative AddProcessManagerHttpClients test
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Bump Orchestration.Abstractions version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Remove include folders
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic

Test name
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Add service bus client to DI
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Add test
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Message client extensions tests
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Bump versions and updte release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Remove include folder
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Remove include
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Remove include folder
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Use extension
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
Owners: @Energinet-DataHub/team-mosaic

Cleanup usings
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Remove include folder
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Moved shared extensions include statement in csproj files
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Add tests of DI extensions located in ProcessManager.Client (#81)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Tests/Fixtures/HealthChecksFixture.cs
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager/ProcessManager.csproj
  source/Shared/Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Only update Orchestrations.Abstractions
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

List changed files
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Bash
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Ignore build script changes
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

workflow_dispatch
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Update Development.md
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

ref_name
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

fetch-depth: 0
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

v45
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

base_sha: 'main'
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove quotes
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

base_sha: ${{ env.BASE_SHA }}
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Commented
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Detect build changes again
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Bump version and update release notes because we changed workflow
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

refac: Fix PM Client bundle publish workflow (#85)
  .github/workflows/processmanager-client-bundle-publish.yml
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Rename
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version and update release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update docs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesRejectedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesRejectedV1.cs
Owners: @Energinet-DataHub/team-mosaic

Apply suggestions from code review
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstanceTypedDto.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
Owners: @Energinet-DataHub/team-mosaic

Small docs on components folder
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Some developing tips
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
