Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

added reason for new versions of orchestrations
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

newline
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

review comments
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/TestServices/ElectricityMarketViewsStub.cs
Owners: @Energinet-DataHub/team-mosaic

Deleted activation types and updated test
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByActivationQuery.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager/Api/SearchOrchestrationInstancesByActivationTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

Implemented custom query for actor requests
  source/ProcessManager.Client/IProcessManagerClient.cs
  source/ProcessManager.Client/ProcessManagerClient.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/ActorRequestQueryResult.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchTrigger_Brs_026_028.cs
Owners: @Energinet-DataHub/team-mosaic

use actOut pattern
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FetchMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

review comments
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update EnqueueMessagesDto
  source/ProcessManager.Abstractions/Contracts/EnqueueMessagesDto.proto
  source/ProcessManager.Components/EnqueueMessages/EnqueueMessagesClient.cs
  source/ProcessManager.Components/EnqueueMessages/IEnqueueMessagesClient.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesAcceptedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Release note
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Rename protobuf client contracts to commands
  source/ProcessManager.Abstractions/Contracts/EnqueueMessagesCommand.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationCommand.proto
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueMessages/EnqueueMessagesClient.cs
  source/ProcessManager.Components/EnqueueMessages/IEnqueueMessagesClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
Owners: @Energinet-DataHub/team-mosaic

Release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

feat: Validate existence of metering point (#70)
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationInitializeActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/OrchestrationTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/PerformValidationActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/ValidationStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/TestServices/ElectricityMarketViewsStub.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Refactor custom query
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByCustomQuery.cs
  source/ProcessManager.Client/IProcessManagerClient.cs
  source/ProcessManager.Client/ProcessManagerClient.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/InputExampleQuery.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchTrigger_Brs_X01_InputExample.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/CalculationQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchTrigger_Brs_023_027.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchTrigger_Brs_026_028.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename protobuf type
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessages.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestration.proto
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/IEnqueueActorActorMessagesClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/IEnqueueActorMessagesClient.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/EnqueueMessagesExtensions.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Renames
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/EnqueueActorMessagesExtensions.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesStepTerminateActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Components.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Components/Datahub/ValueObjects/DataHubType.cs
  source/ProcessManager.Components/Datahub/ValueObjects/EnumerationType.cs
  source/ProcessManager.Components/Datahub/ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Components/Datahub/ValueObjects/MeteringPointType.cs
  source/ProcessManager.Components/Datahub/ValueObjects/Quality.cs
  source/ProcessManager.Components/Datahub/ValueObjects/Resolution.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/EventHubProducerNames.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/EventhubExtensions.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/MeasurementsExtensions.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Components/Extensions/Options/MeasurementsMeteredDataClientOptions.cs
  source/ProcessManager.Components/Measurements/IMeasurementsMeteredDataClient.cs
  source/ProcessManager.Components/Measurements/Mappers/QualityMap.cs
  source/ProcessManager.Components/Measurements/MeasurementsMeteredDataClient.cs
  source/ProcessManager.Components/Measurements/MeteredDataClient.cs
  source/ProcessManager.Components/Measurements/Model/MeteredDataForMeasurementPoint.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/local.settings.sample.json
Owners: @Energinet-DataHub/team-mosaic

merged
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor queries
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/InputExampleQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/CalculationQuery.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor test
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Bump versions
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Comment
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

updated orchestration test for ForwardMeteredData
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Components/Measurements/Mappers/MeteredDataToMeasurementMapper.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeasurementPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

stream line "process manager" naming and rule of thumb for new version of orchestrations
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Removed space
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Correct folder name
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Docs: Initial Process Manager documentation (#80)
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Cleanup
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

clean up
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Orchestrations/local.settings.sample.json
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Fix serialization bug
  source/ProcessManager.Client/ProcessManagerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Align builder usage
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

added missing license
  source/ProcessManager.Components/Measurements/Contracts/PersistSubmittedTransaction.proto
Owners: @Energinet-DataHub/team-mosaic

Added test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/SearchTrigger_Brs_026_028Tests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Slowed test down
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/SearchTrigger_Brs_026_028Tests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Enable changing function name on existing description
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Strongly typed results
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/ActorRequestQueryResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/Brs026Result.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/Brs028Result.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchActorRequestHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test to ensure monitor pattern works
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/DatabricksAbstractionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/CallbackValue.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/Shared/Tests/Fixtures/Extensions/DatabricksApiWireMockExtensions.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Refactor types
  source/ProcessManager.Abstractions/Api/Model/IOrchestrationInstanceTypedDto.cs
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstanceTypedDto.cs
  source/ProcessManager.Client/IProcessManagerClient.cs
  source/ProcessManager.Client/ProcessManagerClient.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/IActorRequestQueryResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/RequestCalculatedEnergyTimeSeriesResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/RequestCalculatedWholesaleServicesResult.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchActorRequestHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
