Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

test to ensure integration event is only published when messages was enqueued
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor namespace for ActorNumber
  source/ProcessManager.Components.ValueObjects/ActorNumber.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesRejectedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesRejectedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor namespace for ActorRole
  source/ProcessManager.Components.ValueObjects/ActorRole.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MarketActorRecipient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/BalanceResponsibleValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/EnergySupplierValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/GridAreaValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/MeteringPointTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/PeriodValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/RequestedByActorRoleValidationRuleTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/SettlementMethodValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/SettlementVersionValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/TimeSeriesTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/RequestCalculatedWholesaleServicesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ChargeTypeValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/EnergySupplierValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/GridAreaValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/PeriodValidationRuleTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ResolutionValidationRuleTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/SettlementVersionValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/BalanceResponsibleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/GridAreaValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/RequestedByActorRoleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/TimeSeriesTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/GridAreaValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/EnergySupplierIsOnlyAllowedToRequestOwnDataHelper.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor namespace for BusinessReason
  source/ProcessManager.Components.ValueObjects/BusinessReason.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointRejectedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesRejectedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesRejectedV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/BalanceResponsibleValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/RequestCalculatedWholesaleServicesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/RequestCalculatedEnergyTimeSeriesInputV1Builder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/BalanceResponsibleValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/SettlementVersionValidationHelper.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor namespace for ChargeType
  source/ProcessManager.Components.ValueObjects/ChargeType.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor namespace for DataHubType
  source/ProcessManager.Components.ValueObjects/ActorRole.cs
  source/ProcessManager.Components.ValueObjects/BusinessReason.cs
  source/ProcessManager.Components.ValueObjects/ChargeType.cs
  source/ProcessManager.Components.ValueObjects/DataHubType.cs
  source/ProcessManager.Components.ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Components.ValueObjects/MeteringPointType.cs
  source/ProcessManager.Components.ValueObjects/Quality.cs
  source/ProcessManager.Components.ValueObjects/Resolution.cs
  source/ProcessManager.Components.ValueObjects/SettlementMethod.cs
  source/ProcessManager.Components.ValueObjects/SettlementVersion.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor ChargeType
  source/ProcessManager.Components.ValueObjects/ChargeType.cs
  source/ProcessManager.Components.ValueObjects/DataHubType.cs
  source/ProcessManager.Components.ValueObjects/EnumerationType.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor namespace for MeasurementUnit
  source/ProcessManager.Components.ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Mappers/MeteredDataToMeasurementMapperTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/BusinessValidation/Rules/MeteringPointValidationRuleTests.cs
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Mappers/MeteredDataToMeasurementMapper.cs
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Model/MeteredDataForMeteringPoint.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeteringPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Mapper/MeteringPointMasterDataMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointMasterData.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor namespace for MeteringPointType
  source/ProcessManager.Components.ValueObjects/MeteringPointType.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Mappers/MeteredDataToMeasurementMapperTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/BusinessValidation/Rules/MeteringPointValidationRuleTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/RequestCalculatedEnergyTimeSeriesInputV1ValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/MeteringPointTypeValidatorTests.cs
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Mappers/MeteredDataToMeasurementMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Mapper/MeteringPointMasterDataMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteringPointMasterData.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/MeteringPointTypeValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/SettlementMethodValidationRule.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/TimeSeriesTypeValidationRule.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Removed comment
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor namespace for Quality
  source/ProcessManager.Components.ValueObjects/Quality.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/AcceptedEnergyObservation.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Mappers/MeteredDataToMeasurementMapperTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Mappers/MeteredDataToMeasurementMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Delete protobuf type test
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Contracts/DecimalValue.proto
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Contracts/PersistSubmittedTransaction.proto
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Contracts/PersistSubmittedTransactionTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

update version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Remove protobuf expression in csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Refactor namespace for Resolution
  source/ProcessManager.Components.ValueObjects/Resolution.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Mappers/MeteredDataToMeasurementMapperTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/ResolutionValidationRuleTests.cs
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Mappers/MeteredDataToMeasurementMapper.cs
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Model/MeteredDataForMeteringPoint.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeteringPointActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/ResolutionValidationRule.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor namespace for SettlementMethod
  source/ProcessManager.Components.ValueObjects/SettlementMethod.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/SettlementMethodValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/TimeSeriesTypeValidatorTests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/SettlementMethodValidationRule.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor namespace for SettlementVersion
  source/ProcessManager.Components.ValueObjects/SettlementVersion.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesAcceptedV1.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/SettlementVersionValidatorTest.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_028/V1/BusinessValidation/Rules/SettlementVersionValidatorTest.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/Shared/BusinessValidation/SettlementVersionValidationHelper.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rewrote assertion
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add new package in detect-changes.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

update calculation type
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Add additional ids to OrchestrationInstance
  source/ProcessManager.Abstractions/Api/Model/StartOrchestrationInstanceMessageCommand.cs
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationInstanceV1.proto
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/Application/Orchestration/IStartOrchestrationInstanceMessageCommands.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.DatabaseMigration/Scripts/202502041220 Add ActorMessageId TransactionId MeteringPointId to OrchestrationInstance.sql
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/StartNotifyOrchestrationInstanceExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/StartNotifyOrchestrationInstanceExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleHandlerV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesCommandV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/RequestCalculatedWholesaleServicesHandlerV1.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Build new NuGet package
  .github/workflows/processmanager-client-bundle-publish.yml
Owners: @Energinet-DataHub/TheOutlaws

Update release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Version and release notes
  docs/ProcessManager.Components.ValueObjects/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Components.ValueObjects/ProcessManager.Components.ValueObjects.csproj
Owners: @Energinet-DataHub/team-mosaic

Version and release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

fixed test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

ups
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
Owners: @Energinet-DataHub/team-mosaic

new version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

fixup! new version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Updated namespace in protobuf contract
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Contracts/CalculationEnqueueCompletedV1.proto
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/PublishCalculationEnqueueCompletedActivity_brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

fixup! new version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

fixup! new version
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

feat: Publish integration event when enqueue finished (#149)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Contracts/CalculationEnqueueCompletedV1.proto
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/ServiceBusResponseMocking.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/PublishCalculationEnqueueCompletedActivity_brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

fixup! new version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

sigh...
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

null handling and arg passing
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor SettlementMethod enumeration type
  source/ProcessManager.Components.ValueObjects/SlimDataHubType.cs
  source/ProcessManager.Components.ValueObjects/SlimEnumerationType.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version and update release notes
  docs/ProcessManager.Components.ValueObjects/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Components.ValueObjects/ProcessManager.Components.ValueObjects.csproj
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
