Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Migration near done
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceFactory.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceFactory.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Ignite
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Interface
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceFactory.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix interface
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceFactory.cs
Owners: @Energinet-DataHub/team-mosaic

Move
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Try/catch
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix ScheduledAtOrLater logic bug
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
Owners: @Energinet-DataHub/team-mosaic

Bump patch version
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Cleanup
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

fix: Fix search query logic bug (#194)
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update NuGet packages
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Example.Consumer/ProcessManager.Example.Consumer.csproj
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update packages
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

MigrateCalculationActivityTests
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/MigrateCalculationActivityFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Fix data
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic

Update test namespace
  source/Shared/Tests/FluentAssertionsVersionGuard.cs
Owners: @Energinet-DataHub/team-mosaic

throw
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Run all
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

chore: Update NuGet packages (#195)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Components.Tests/ProcessManager.Components.Tests.csproj
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Example.Consumer/ProcessManager.Example.Consumer.csproj
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/ProcessManager/ProcessManager.csproj
  source/Shared/Tests/FluentAssertionsVersionGuard.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

FIx test
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Create ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

DIspose
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Call validate activity
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix test
  source/ProcessManager.Orchestrations.Tests/Fixtures/MigrateCalculationActivityFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Comments
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Comment
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Shown when migration is skipped
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

UPdate test
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Fix public async Task Given_WholesaleCalculationsToMigrate_When_OrchestrationIsCompleted_Then_HasExpectedHistory()
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Clean usings
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Single
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/ValidateMigratedCalculations_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Guard for null
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Delay
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

SIngle
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivityTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Log unknown notification as a warning instead of an exception
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
