Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Move monitor test from client to orchestration
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

We don't want health checks againstTask Hub
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Renames activities for example processes
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/FirstStepStartActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/FirstStepStopActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToRunningActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStartActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStopActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToRunningActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Remove deprecated tests
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/OrchestrationsCompletionsTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/OrchestrationsSearchTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Mappers/CalculationTypeMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Mappers/CalculationTypeMapper.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Clean up
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Update source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsClient.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsClient.cs
Owners: @Energinet-DataHub/team-mosaic

Validate input
  source/ProcessManager.Components.Tests/Unit/Diagnostics/HealthChecks/DatabricksJobsApiHealthCheckTests.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsClient.cs
  source/ProcessManager.Components/Extensions/Builder/DatabricksHealthCheckBuilderExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Skip tests
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Set Termination state dependent of input
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Abstractions.csproj
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

TerminatedSted takes state as input
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

test: Moving monitor test to API and Example Orchestrations (#54)
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/OrchestrationsCompletionsTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/OrchestrationsSearchTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/FirstStepStartActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/FirstStepStopActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToRunningActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/Orchestration_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStartActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStopActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToRunningActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Refreshable properties
  source/ProcessManager.Core/Application/Registration/IOrchestrationRegister.cs
  source/ProcessManager.Core/Application/Registration/OrchestrationRegisterExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Remove CRON for electrical heating
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Allow resetting RecurringCronExpression
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Support refreshable properties (#56)
  source/ProcessManager.Core/Application/Registration/IOrchestrationRegister.cs
  source/ProcessManager.Core/Application/Registration/OrchestrationRegisterExtensions.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

IOrchestrationDescriptionBuilder
  source/ProcessManager.Core/Application/Registration/IOrchestrationDescriptionBuilder.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Startup/HostExtensions.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Start/schedule handlers
  source/ProcessManager.Core/Application/Api/IScheduleOrchestrationInstanceCommandHandler.cs
  source/ProcessManager.Core/Application/Api/IStartOrchestrationInstanceCommandHandler.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/ScheduleTrigger_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartTrigger_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Cleanup using
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Auto Register Orchestration Descriptions (#62)
  source/ProcessManager.Core/Application/Registration/IOrchestrationDescriptionBuilder.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Startup/HostExtensions.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Namespace
  source/ProcessManager.Core/Application/Api/Handlers/IScheduleOrchestrationInstanceCommandHandler.cs
  source/ProcessManager.Core/Application/Api/Handlers/IStartOrchestrationInstanceCommandHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix naming and design
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataTriggerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartTrigger_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/StartTrigger_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

TODO's
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartTrigger_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/StartTrigger_Brs_026_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Interface for query handler
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByCustomQuery.cs
  source/ProcessManager.Core/Application/Api/Handlers/ISearchOrchestrationInstancesQueryHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchTrigger_Brs_023_027.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor example
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchTrigger_Brs_X01_InputExample.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/ScheduleTrigger_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartInputExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartTrigger_Brs_X01_InputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Avoid changning NuGet packages
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByCustomQuery.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Auto register handlers (#57)
  source/ProcessManager.Core/Application/Api/Handlers/IScheduleOrchestrationInstanceCommandHandler.cs
  source/ProcessManager.Core/Application/Api/Handlers/ISearchOrchestrationInstancesQueryHandler.cs
  source/ProcessManager.Core/Application/Api/Handlers/IStartOrchestrationInstanceCommandHandler.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchTrigger_Brs_X01_InputExample.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/ScheduleTrigger_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartInputExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartTrigger_Brs_X01_InputExample_V1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataTriggerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartTrigger_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchTrigger_Brs_023_027.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/ScheduleTrigger_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartTrigger_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/PerformAsyncValidationActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/StartTrigger_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test AddOrchestrationDescriptionBuilders
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
Owners: @Energinet-DataHub/team-mosaic

Using
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Auto register handlers for http parts
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Example.Orchestrations/Program.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Naming
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Auto register handlers for ServiceBus triggers
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
