Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Create workflow for monorepo CI build
  .github/workflows/ci-orchestrator-monorepo.yml
Owners: @Energinet-DataHub/TheOutlaws

Add detect-changes
  .github/workflows/ci-orchestrator-monorepo.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Fixes
  .github/workflows/ci-orchestrator-monorepo.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Doh!
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Move detect-changes to testable action
  .github/actions/dotnet-affected/Find-AffectedProjects.Tests.ps1
  .github/actions/dotnet-affected/Find-AffectedProjects.ps1
  .github/actions/dotnet-affected/action.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix inputs
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Query JSON
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
Owners: @Energinet-DataHub/team-mosaic

Power queries
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Unique names
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/Brs_026_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Ensure unique names for orchestration and activities
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update grpc.tools
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Functions.Worker.Sdk update
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Microsoft.Azure update
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

BRS 021 Electrical Heating Calculation skeleton
  source/ProcessManager.Client.Tests/Integration/BRS_021/ElectricalHeatingCalculation/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation/V1/Model/Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation/V1/Model/StartElectricalHeatingCalculationCommandV1.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStepTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/OrchestrationInitializeActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/OrchestrationTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/ProgressActivityBase.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

DataAnnotations update
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

EntityFrameworkCore update
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

Nuget version bump
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Abstractions.csproj
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Initial steps on example orchestration
  source/Example.Orchestrations.Abstrations/Example.Orchestrations.Abstrations.csproj
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/ExampleQueryResult.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/Brs_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/ExampleInputV1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/ExampleTypes.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/ScheduleExampleCommandV1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/StartExampleCommandV1.cs
  source/Example.Orchestrations/Example.Orchestrations.csproj
  source/Example.Orchestrations/Monitor/HealthCheckEndpoint.cs
  source/Example.Orchestrations/Processes/BRS_Example/Example/V1/Activities/BrsExampleStepStartActivityV1.cs
  source/Example.Orchestrations/Processes/BRS_Example/Example/V1/Activities/ProgressActivityBase.cs
  source/Example.Orchestrations/Processes/BRS_Example/Example/V1/Orchestration_Brs_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_Example/Example/V1/SearchExampleHandler.cs
  source/Example.Orchestrations/Program.cs
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Update SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

chore: Nuget update (#19)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

downgrade annotations
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

update nuget version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Movin fixtures to shared folder
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/Shared/ProcessManager/Tests/Fixtures/OrchestrationsAppFixtureBase.cs
  source/Shared/ProcessManager/Tests/Fixtures/ProcessManagerAppFixtureBase.cs
  source/Shared/ProcessManager/Tests/Fixtures/ProcessManagerDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic

No input commands
  source/ProcessManager.Abstractions/Api/Model/IOrchestrationDescriptionCommand.cs
  source/ProcessManager.Abstractions/Api/Model/ScheduleOrchestrationInstanceCommand.cs
  source/ProcessManager.Abstractions/Api/Model/StartOrchestrationInstanceCommand.cs
  source/ProcessManager.Client/IProcessManagerClient.cs
  source/ProcessManager.Client/ProcessManagerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Typed
  source/ProcessManager.Abstractions/Api/Model/IOrchestrationDescriptionCommand.cs
  source/ProcessManager.Abstractions/Api/Model/ScheduleOrchestrationInstanceCommand.cs
  source/ProcessManager.Abstractions/Api/Model/StartOrchestrationInstanceCommand.cs
Owners: @Energinet-DataHub/team-mosaic

Comment
  source/ProcessManager.Abstractions/Api/Model/IInputParameterDto.cs
Owners: @Energinet-DataHub/team-mosaic

STart and get with no input
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstanceTypedDto.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ElectricalHeatingCalculation/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Client/Extensions/TypeExtensions.cs
  source/ProcessManager.Client/IProcessManagerClient.cs
  source/ProcessManager.Client/ProcessManagerClient.cs
  source/ProcessManager.Core/Application/Orchestration/IStartOrchestrationInstanceCommands.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/ParameterValue.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/CalculationQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/ScheduleCalculationCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/StartCalculationCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/StartRequestCalculatedEnergyTimeSeriesCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/StartRequestCalculatedEnergyTimeSeriesCommandV1.cs
  source/ProcessManager/Api/Model/GeneralScheduleOrchestrationInstanceCommand.cs
  source/ProcessManager/Api/Model/GeneralStartOrchestrationInstanceCommand.cs
  source/ProcessManager/Api/ScheduleOrchestrationInstanceTrigger.cs
  source/ProcessManager/Api/StartOrchestrationInstanceTrigger.cs
  source/Shared/ProcessManager/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

NuGet packages
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Client/Extensions/DependencyInjection/ClientExtensions.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.SubsystemTests/ProcessManager.SubsystemTests.csproj
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/ProcessManager/ProcessManager.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Downgrade annotations
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core/ProcessManager.Core.csproj
Owners: @Energinet-DataHub/team-mosaic

Bump version and release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

General search with no-input
  source/ProcessManager.Client.Tests/Integration/BRS_021/ElectricalHeatingCalculation/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client/IProcessManagerClient.cs
  source/ProcessManager.Client/ProcessManagerClient.cs
Owners: @Energinet-DataHub/team-mosaic

Delete bases in test solution and using those in shared
  source/ProcessManager.Core.Tests/Fixtures/ProcessManagerDatabaseManager.cs
  source/ProcessManager.Core.Tests/ProcessManager.Core.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixtureBase.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixtureBase.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix path
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

kljh
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Debug print
  .github/actions/dotnet-affected/Find-AffectedProjects.ps1
Owners: @Energinet-DataHub/TheOutlaws

Doh!
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Will this work ?
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

lkj
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws
