Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix markdown
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

removed unused contracts and extensions
  source/ProcessManager.Components/Extensions/Mapper/DictionaryExtensions.cs
  source/ProcessManager.Components/Measurements/Contracts/DecimalValue.proto
  source/ProcessManager.Components/Measurements/Contracts/PersistSubmittedTransaction.proto
Owners: @Energinet-DataHub/team-mosaic

Review updates
  source/ProcessManager.Abstractions/Contracts/NotifyOrchestrationInstanceV1.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.Example.Orchestrations.Abstrations/ProcessManager.Example.Orchestrations.Abstrations.csproj
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueActorMessagesActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueActorMessagesActivity_Brs_028_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
  source/Shared/Extensions/ServiceBusMessageBodyFormat.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Guard against orchestratin instance id on notify
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceRepository.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/TestServices/ElectricityMarketViewsStub.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Fix versions
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Initial test
  source/ProcessManager.Components.Tests/Fixtures/IntegrationEventPublisherFixture.cs
  source/ProcessManager.Components.Tests/Integration/Diagnostics/IntegrationEventPublisherExtensionsTests.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/IntegrationEventPublisherExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

revert namspace changes
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
  source/Shared/Tests/Models/OrchestrationHistoryItem.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/Receiver.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

further reverts
  source/ProcessManager.Client.Tests/Unit/Extensions/DependencyInjection/ClientExtensionsTests.cs
  source/ProcessManager.Components.Tests/Fixtures/HealthChecksFixture.cs
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientWiremockTests.cs
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/Shared/BRS_026_028/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/Shared/Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Maybe green test
  source/ProcessManager.Components.Tests/Fixtures/IntegrationEventPublisherFixture.cs
  source/ProcessManager.Components.Tests/Integration/Diagnostics/IntegrationEventPublisherExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Fix tests after merge
  source/ProcessManager.Orchestrations.Tests/Extensions/ProcessManagerClientExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

mock listener
  source/ProcessManager.Components.Tests/Fixtures/IntegrationEventPublisherFixture.cs
Owners: @Energinet-DataHub/team-mosaic

namespace updated
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

feat: IdempotencyKey query (#107)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/Api/Model/GetOrchestrationInstanceByIdempotencyKeyQuery.cs
  source/ProcessManager.Abstractions/Api/Model/IOrchestrationInstanceTypedDto.cs
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstance/OrchestrationInstanceDto.cs
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstanceTypedDto.cs
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/IProcessManagerClient.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Client/ProcessManagerClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/Extensions/ProcessManagerClientExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/RequestCalculatedWholesaleServicesTests.cs
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
  source/ProcessManager/Api/GetOrchestrationInstanceByIdempotencyKeyTrigger.cs
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Support merge queues
  .github/actions/dependabot-project-check/action.yml
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Update MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updatd client
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

reverted
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
Owners: @Energinet-DataHub/team-mosaic

Test updated to wait for SB int message
  source/ProcessManager.Components.Tests/Fixtures/IntegrationEventPublisherFixture.cs
  source/ProcessManager.Components.Tests/Integration/Diagnostics/IntegrationEventPublisherExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

waiting on match
  source/ProcessManager.Components.Tests/Integration/Diagnostics/IntegrationEventPublisherExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/GetMeteringPointMasterDataActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

fix
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

refac `ProcessManager.Components` from `ProcessManager.Orchestrations.Abstractions` dependencies. (#112)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Added new proto buf contract
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/Contracts/IntegrationEventId.proto
  source/ProcessManager.Components.Tests/Integration/IntegrationEventPublisher/IntegrationEventPublisherExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations.Abstractions/Components/Datahub/DataHubDetails.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add service bus example tests
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/Brs_X02_NotifyOrchestrationInstanceExample.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/NotifyOrchestrationInstanceExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/NotifyOrchestrationInstanceExampleNotifyEventsV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/StartNotifyOrchestrationInstanceExampleCommandV1.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/OptionsConfiguration.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/InitializeOrchestrationActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/TerminateOrchestrationActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/TransitionStepToRunningActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/TransitionStepToTerminatedActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Models/OrchestrationExecutionPlan.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Options/OrchestrationOptions_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_028/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
  source/Shared/Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update tests
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/NotifyOrchestrationInstanceExampleNotifyEventsV1.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/TerminateOrchestrationActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Options/OrchestrationOptions_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Add (shared) process manager topic resources to example app
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Extensions/Options/ProcessManagerTopicOptions.cs
  source/ProcessManager.Example.Orchestrations/ProcessManager.Example.Orchestrations.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/StartNotifyOrchestrationInstanceExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/StartTrigger_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/Extensions/ProcessManagerClientExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManagerExtensionsTests.cs
  source/ProcessManager.Core.Tests/Unit/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor service bus resources
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/Shared/Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Model/DataHubDetails.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Orchestrations/Components/DataHub/Measurements/Model/DataHubDetails.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Add event data and update step custom state
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceExecutor.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/StepInstance.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/ExampleNotifyEventDataV1.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Activities/SetStepCustomStateActivity_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/Orchestration_Brs_X02_NotifyOrchestrationInstanceExample_V1.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

added test
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1Tests.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/FindReceiversActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
