Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Introduce change
  source/ProcessManager/Scheduler/SchedulerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

ælkj
  .github/actions/dotnet-affected/Find-AffectedProjects.ps1
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Debug print
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Set output vars
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Forgot filter
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix output values
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Renames
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/ExampleQuery.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/ExampleQueryResult.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/Brs_Example_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/Input_Brs_Example_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/ScheduleCommand_Brs_Example_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/StartCommand_Brs_Example_Example_V1.cs
  source/Example.Orchestrations/Monitor/HealthCheckEndpoint.cs
  source/Example.Orchestrations/Processes/BRS_Example/Example/V1/Activities/StartActivity_Brs_Example_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_Example/Example/V1/Orchestration_Brs_Example_Example_V1.cs
  source/Example.Orchestrations/Processes/BRS_Example/Example/V1/SearchHandler_Brs_Example.cs
  source/Example.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic

Initial test project for example orchestrations
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations.Tests/functionapphost.settings.json
  source/Example.Orchestrations.Tests/integrationtest.local.settings.sample.json
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Update .editorconfig
  .editorconfig
Owners: @Energinet-DataHub/team-mosaic

Remove commented-out code
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Use mountains for hostnames
  .github/actions/dotnet-affected/action.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix output variable name
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Reduce variance
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

jhg
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

build everest
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

chore: Update .editorconfig to match EDI (#24)
  .editorconfig
Owners: @Energinet-DataHub/team-mosaic

Print debug
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Print debug log
  .github/actions/dotnet-affected/action.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

now we're getting there
  .github/actions/dotnet-affected/action.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix plings
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Fix title
  .github/workflows/ci-dotnet.yml
Owners: @Energinet-DataHub/TheOutlaws

Remote write-host
  .github/actions/dotnet-affected/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Comment in montblanc and dbmigrations
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Run tests
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Add ci_run_tests to allow_merge
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Use shared app managers instead of fixtures
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ScenarioAppFixturesConfiguration.cs
  source/ProcessManager.Client.Tests/Fixtures/ScenarioOrchestrationsAppFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ScenarioProcessManagerAppFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ElectricalHeatingCalculation/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixtureBase.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
  source/ProcessManager.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Make BRS-021 electrical heating recurring
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
  source/ProcessManager.sln.DotSettings
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update trigger according to business requirements
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

fixtures and health check tests
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/ScheduleCommand_Brs_Example_Example_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_Example/Example/V1/Model/StartCommand_Brs_Example_Example_V1.cs
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppCollection.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixtureBase.cs
  source/Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic

refac: Use shared app managers instead of fixtures for tests (#26)
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ScenarioAppFixturesConfiguration.cs
  source/ProcessManager.Client.Tests/Fixtures/ScenarioOrchestrationsAppFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ScenarioProcessManagerAppFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ElectricalHeatingCalculation/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixtureBase.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
  source/ProcessManager.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rewrite of fixture to match new pathern
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

fix comment
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/SchedulerTrigger.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

New matrix
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

adf
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Convert to json
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Print JSON
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Compress JSON
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

lkn
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

revert to stop waiting for Mosaic review
  source/ProcessManager.sln.DotSettings
Owners: @Energinet-DataHub/team-mosaic

.jb
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws
