Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

Align app ports
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Client tests using Example app (#50)
  .github/workflows/ci-dotnet-runtests.yml
  source/Example.Orchestrations.Tests/Example.Orchestrations.Tests.csproj
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/MonitorExampleUsingApiScenario.cs
  source/ProcessManager.Client.Tests/DisableTestParallelization.cs
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientCollection.cs
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ElectricalHeatingCalculation/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/Example/V1/MonitorExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Using
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/ProcessManagerTopicExtensions.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

feat: Test of no input example (#51)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/V1/Model/Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/V1/Model/StartNoInputExampleComandV1.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/MonitorExampleUsingApiScenario.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/MonitorNoInputExampleUsingApiScenario.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/FirstStepStartActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/FirstStepStopActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationInitializeActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/OrchestrationTerminateActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/ProgressActivityBase.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStartActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Activities/SecondStepStopActivity_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Model/OrchestrationExecutionPlan.cs
  source/Example.Orchestrations/Processes/BRS_X01/NoInputExample/V1/Orchestration_Brs_X01_NoInputExample_V1.cs
  source/Example.Orchestrations/Program.cs
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client.Tests/Integration/BRS_X01/Example/V1/MonitorExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/NoInputExample/V1/MonitorNoInputExampleUsingClientScenario.cs
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Client/ProcessManagerClient.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Register use of Wholesale and Measurements workspaces
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/DatabricksWorkspaceNames.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Namespace
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/DatabricksWorkspaceNames.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

refac: Move orchestrations tests (#52)
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Client.Tests/DisableTestParallelization.cs
  source/ProcessManager.Client.Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Client.Tests/Fixtures/ObsoleteProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_023_027/V1/MonitorCalculationUsingApiScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/Example/V1/MonitorExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/NoInputExample/V1/MonitorNoInputExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/Extensions/ServiceCollectionExtensions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

rename comand to command
  source/Example.Orchestrations.Abstrations/Processes/BRS_X01/NoInputExample/V1/Model/StartNoInputExampleCommandV1.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/MonitorNoInputExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Comment update
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/MonitorNoInputExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Add reference to TestCommon
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update MonitorNoInputExampleUsingClientScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/NoInputExample/V1/MonitorNoInputExampleUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Update MonitorNoInputExampleUsingApiScenario.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/MonitorNoInputExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Update MonitorExampleUsingApiScenario.cs
  source/Example.Orchestrations.Tests/Integration/Processes/BRS_X01/Examples/MonitorExampleUsingApiScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Register databricks workspaces
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/DatabricksWorkspaceNames.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/local.settings.sample.json
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

namespace refactor
  source/Example.Orchestrations.Tests/Models/OrchestrationHistoryItem.cs
  source/Example.Orchestrations/Monitor/HealthCheckEndpoint.cs
Owners: @Energinet-DataHub/team-mosaic

Clean up
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppCollection.cs
  source/Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartInputExampleHandlerV1.cs
  source/Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartTrigger_Brs_X01_InputExample_V1.cs
  source/Example.Orchestrations/Program.cs
  source/ProcessManager.Client.Tests/Fixtures/ProcessManagerClientFixture.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/InputExample/V1/MonitorExampleUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

updates urls
  source/Example.Orchestrations/Processes/BRS_X01/InputExample/SearchTrigger_Brs_X01_InputExample.cs
  source/Example.Orchestrations/Processes/BRS_X01/InputExample/V1/StartTrigger_Brs_X01_InputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Remove TODO
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepTerminateActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

schedul endpoints
  source/Example.Orchestrations/Processes/BRS_X01/InputExample/V1/ScheduleTrigger_Brs_X01_InputExample_V1.cs
Owners: @Energinet-DataHub/team-mosaic

nuget version update
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

abs nuget version
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

ProcessManagerExample -> ProcessManager.Example
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppCollection.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppManager.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Monitor/HealthCheckEndpointTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorInputExampleUsingApiScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/OrchestrationsCompletionsTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/OrchestrationsSearchTests.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorNoInputExampleUsingApiScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Models/OrchestrationHistoryItem.cs
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Example.Orchestrations.Tests/functionapphost.settings.json
  source/ProcessManager.Example.Orchestrations.Tests/integrationtest.local.settings.sample.json
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

orch nuget version dumb
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Start CalculatorJob i Wholesale
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepStartDatabricksJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Mappers/CalculationTypeMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/DeltaTableCalculationType.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/JobRunId.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationExecutionContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Solution
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

Remove link
  source/ProcessManager.Client.Tests/ProcessManager.Client.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Job run status
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsClient.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsClient.cs
Owners: @Energinet-DataHub/team-mosaic

Job run status
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientTests.cs
Owners: @Energinet-DataHub/team-mosaic

Trim orchestration and activities while also monitoring calculation job
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepGetJobRunStatusActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStepTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueueMessagesStepStartActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationTerminateActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/TransitionStepToRunningActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/TransitionStepToTerminatedActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/JobRunId.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationExecutionContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationOptions_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Sample settings
  source/ProcessManager.Orchestrations/local.settings.sample.json
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Move options
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationExecutionContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Options/OrchestrationOptions_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Rename monotor tests
  source/ProcessManager.Client.Tests/Integration/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Comment
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/OrchestrationInitializeActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Prepare electrical heating
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/EnqueueMessagesStepStartActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/OrchestrationInitializeActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/OrchestrationTerminateActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/TransitionStepToRunningActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/TransitionStepToTerminatedActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Model/OrchestrationExecutionContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Model/OrchestrationExecutionPlan.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Options/OrchestrationOptions_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Moved api test to api solution
  source/ProcessManager.Example.Orchestrations.Tests/ProcessManager.Example.Orchestrations.Tests.csproj
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppFixture.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager.Tests/ProcessManager.Tests.csproj
Owners: @Energinet-DataHub/team-mosaic

Start&monitor Electrical heating job
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStep/CalculationStepGetJobRunStatusActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Adjust payload for dispatch of DB Migrations
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

Assembly and rootnamespace
  source/ProcessManager.Components/ProcessManager.Components.csproj
Owners: @Energinet-DataHub/team-mosaic

Sync namespace
  source/ProcessManager.Components.Tests/Fixtures/HealthChecksFixture.cs
  source/ProcessManager.Components.Tests/Unit/Databricks/Jobs/DatabricksJobsClientTests.cs
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/DatabricksWorkspaceExtensionsTests.cs
  source/ProcessManager.Components/Databricks/Jobs/DatabricksJobsClient.cs
  source/ProcessManager.Components/Databricks/Jobs/IDatabricksJobsClient.cs
  source/ProcessManager.Components/Databricks/Jobs/Model/JobRunId.cs
  source/ProcessManager.Components/Databricks/Jobs/Model/JobRunStatus.cs
  source/ProcessManager.Components/Diagnostics/HealthChecks/DatabricksJobsApiHealthCheck.cs
  source/ProcessManager.Components/Extensions/Builder/DatabricksHealthCheckBuilderExtensions.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/DatabricksWorkspaceExtensions.cs
  source/ProcessManager.Components/Extensions/Options/DatabricksWorkspaceOptions.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppManager.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/DatabricksWorkspaceNames.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStep/CalculationStepGetJobRunStatusActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/Orchestration_Brs_021_ElectricalHeatingCalculation_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchCalculationHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/SearchTrigger_Brs_023_027.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepGetJobRunStatusActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/CalculationStep/CalculationStepStartJobActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/TransitionStepToRunningActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/TransitionStepToTerminatedActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Adjust payload for dispatch of DB Migrations (#55)
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws
