Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Bump version and update release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

quick and dirty test
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

merge fix
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Use FromName instead of FromCode
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeteringPointActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor ActorRole
  source/ProcessManager.Components.ValueObjects/ActorRole.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor BusinessReason
  source/ProcessManager.Components.ValueObjects/BusinessReason.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor ChargeType
  source/ProcessManager.Components.ValueObjects/ChargeType.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor MeasurementUnit
  source/ProcessManager.Components.ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor MeteringPointType
  source/ProcessManager.Components.ValueObjects/MeteringPointType.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor Quality
  source/ProcessManager.Components.ValueObjects/Quality.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor Resolution
  source/ProcessManager.Components.ValueObjects/Resolution.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor SettlementVersion
  source/ProcessManager.Components.ValueObjects/SettlementVersion.cs
Owners: @Energinet-DataHub/team-mosaic

Deleted old enum and datahub type
  source/ProcessManager.Components.ValueObjects/DataHubType.cs
  source/ProcessManager.Components.ValueObjects/EnumerationType.cs
Owners: @Energinet-DataHub/team-mosaic

use the correct guid
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

AllowOrchestrationDescriptionBreakingChanges is false as default
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Infrastructure/Extensions/Options/ProcessManagerOptions.cs
Owners: @Energinet-DataHub/team-mosaic

build fix
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor names to contain Record
  source/ProcessManager.Components.ValueObjects/ActorRole.cs
  source/ProcessManager.Components.ValueObjects/BusinessReason.cs
  source/ProcessManager.Components.ValueObjects/ChargeType.cs
  source/ProcessManager.Components.ValueObjects/DataHubRecordType.cs
  source/ProcessManager.Components.ValueObjects/EnumerationRecordType.cs
  source/ProcessManager.Components.ValueObjects/MeasurementUnit.cs
  source/ProcessManager.Components.ValueObjects/MeteringPointType.cs
  source/ProcessManager.Components.ValueObjects/Quality.cs
  source/ProcessManager.Components.ValueObjects/Resolution.cs
  source/ProcessManager.Components.ValueObjects/SettlementMethod.cs
  source/ProcessManager.Components.ValueObjects/SettlementVersion.cs
Owners: @Energinet-DataHub/team-mosaic

MD files updated to new package name and version
  docs/ProcessManager.Components.ValueObjects/Documentation.md
  docs/ProcessManager.Components.ValueObjects/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Change NuGet package name
  .github/workflows/detect-changes.yml
  .github/workflows/processmanager-client-bundle-publish.yml
  docs/ProcessManager.Components.Abstractions/Documentation.md
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Components.ValueObjects/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.sln
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Move types
  source/ProcessManager.Components.Abstractions/ActorNumber.cs
  source/ProcessManager.Components.Abstractions/ActorRole.cs
  source/ProcessManager.Components.Abstractions/BusinessReason.cs
  source/ProcessManager.Components.Abstractions/ChargeType.cs
  source/ProcessManager.Components.Abstractions/DataHubRecordType.cs
  source/ProcessManager.Components.Abstractions/EnumerationRecordType.cs
  source/ProcessManager.Components.Abstractions/MeasurementUnit.cs
  source/ProcessManager.Components.Abstractions/MeteringPointType.cs
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Components.Abstractions/Quality.cs
  source/ProcessManager.Components.Abstractions/Resolution.cs
  source/ProcessManager.Components.Abstractions/SettlementMethod.cs
  source/ProcessManager.Components.Abstractions/SettlementVersion.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.sln
Owners: @Energinet-DataHub/team-mosaic

fixup! use the correct guid
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Moved Measurements
  source/ProcessManager.Orchestrations.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/Mappers/MeteredDataToMeasurementMapperTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Contracts/DecimalValue.proto
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Contracts/PersistSubmittedTransaction.proto
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/IMeasurementsMeteredDataClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Mappers/DecimalValueMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Mappers/MeteredDataToMeasurementMapper.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/MeasurementsMeteredDataClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Model/MeteredDataForMeteringPoint.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/StoreMeteredDataForMeteringPointActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Added ReadMe
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Contracts/DecimalValue.proto
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Contracts/PersistSubmittedTransaction.proto
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Contracts/ReadMe.md
Owners: @Energinet-DataHub/team-mosaic

Move tests to correct namespaces
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/Measurements/Mappers/MeteredDataToMeasurementMapperTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/Measurements/MeasurementsMeteredDataClientTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/BusinessValidation/Brs021_ForwardMeteredData_General_BusinessValidationDtoValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/BusinessValidation/Brs021_ForwardMeteredData_Series_BusinessValidationDtoValidatorTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/BusinessValidation/Rules/MeteringPointValidationRuleTests.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_021/ForwardMeteredData/V1/MeteredDataForMeteringPointMessageInputV1Builder.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update solution filter
  source/ProcessManager.NuGet.Filtered.slnf
Owners: @Energinet-DataHub/team-mosaic

fixup! use the correct guid
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Fix MD
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/Measurements/Contracts/ReadMe.md
Owners: @Energinet-DataHub/team-mosaic

Bump client version and release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

Bump orch abstractions and release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Release notes
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Moved types
  source/ProcessManager.Components.Abstractions/BusinessValidation/IBusinessValidatedDto.cs
  source/ProcessManager.Components.Abstractions/BusinessValidation/ValidationErrorDto.cs
  source/ProcessManager.Components.Tests/Unit/Extensions/DependencyInjection/BusinessValidationExtensionsTests.cs
  source/ProcessManager.Components/BusinessValidation/BusinessValidator.cs
  source/ProcessManager.Components/BusinessValidation/IBusinessValidationRule.cs
  source/ProcessManager.Components/Extensions/DependencyInjection/BusinessValidationExtensions.cs
  source/ProcessManager.Components/ProcessManager.Components.csproj
  source/ProcessManager.Example.Orchestrations.Abstrations/ProcessManager.Example.Orchestrations.Abstrations.csproj
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleEnqueueRejectedDataV1.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X03_ActorRequestProcessExample/V1/ActorRequestProcessExampleInputV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/Activities/EnqueueRejectedActorMessageActivity_Brs_X03_V1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesRejectedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026_028/BRS_028/V1/Model/RequestCalculatedWholesaleServicesRejectedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs021_ForwardMeteredData_General_BusinessValidationDto.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Model/Brs021_ForwardMeteredData_Series_BusinessValidationDto.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/Activities/EnqueueRejectMessageActivity_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/Activities/EnqueueRejectMessageActivity_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Release note
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

strong types
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutorTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationInstance/OrchestrationInstanceStepsTests.cs
  source/ProcessManager.Core/Application/Orchestration/IStartOrchestrationInstanceMessageCommands.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/ActorMessageId.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/MeteringPointId.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/TransactionId.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/StartNotifyOrchestrationInstanceExampleHandlerV1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X03_ActorRequestProcessExample/V1/StartActorRequestProcessExampleHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/StartForwardMeteredDataHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_026/V1/RequestCalculatedEnergyTimeSeriesHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026_028/BRS_028/V1/RequestCalculatedWholesaleServicesHandlerV1.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

tmp disable new test validation
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
Owners: @Energinet-DataHub/team-mosaic

OI dtos and reenable test
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstance/OrchestrationInstanceDto.cs
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstanceTypedDto.cs
  source/ProcessManager.Example.Orchestrations.Tests/Fixtures/ExampleOrchestrationsAppFixture.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X02/NotifyOrchestrationInstanceExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

fix missed mapper meth
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor dependencies and build
  .github/workflows/processmanager-client-bundle-publish.yml
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Components/ProcessManager.Components.csproj
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-mosaic

Development docs updated
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Client bundle updated
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
