Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Use function context for null input
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Activities/FailingActivity_Brs_X05_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Activities/SuccessActivity_Brs_X05_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Update GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Extended calculation querying
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByNameQuery.cs
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceRepository.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/InputExampleQuery.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/CalculationQuery.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager/Api/SearchOrchestrationInstancesByNameTrigger.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor test
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

refac: Use function context for activities without input (#189)
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Activities/FailingActivity_Brs_X05_V1.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X05_FailingOrchestrationInstanceExample/V1/Activities/SuccessActivity_Brs_X05_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Create schema
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic

Fixture
  source/ProcessManager.Orchestrations.Tests/Fixtures/WholesaleDatabaseFixture.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Test db context
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/WholesaleMigration/Wholesale/WholesaleContextTests.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Comments
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/team-mosaic

Bump package version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByNameQuery.cs
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceRepository.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/InputExampleQuery.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager/Api/SearchOrchestrationInstancesByNameTrigger.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Merged
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContextTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/WholesaleDatabaseExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/WholesaleDatabaseOptions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/CalculationEntityConfiguration.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/Calculation.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationExecutionState.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationJobId.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationOrchestrationState.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationType.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/GridAreaCode.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/OrchestrationInstanceId.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/QuantityUnit.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContext.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Updated exceptions
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/CalculationStep.cs
Owners: @Energinet-DataHub/team-mosaic

Fixed nullability
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByNameQuery.cs
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/CalculationQuery.cs
Owners: @Energinet-DataHub/team-mosaic

Add private variable to orchestration
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Add WholesaleContext and types to be able to read Calculations (#186)
  source/ProcessManager.Orchestrations.Tests/Fixtures/WholesaleDatabaseFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContextTests.cs
  source/ProcessManager.Orchestrations.Tests/ProcessManager.Orchestrations.Tests.csproj
  source/ProcessManager.Orchestrations.Tests/Unit/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensionsTests.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/MeasurementsMeteredDataClientExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/WholesaleDatabaseExtensions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/MeasurementsMeteredDataClientOptions.cs
  source/ProcessManager.Orchestrations/Extensions/Options/WholesaleDatabaseOptions.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/CalculationEntityConfiguration.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/Calculation.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationExecutionState.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationJobId.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationOrchestrationState.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/CalculationType.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/GridAreaCode.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/OrchestrationInstanceId.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/Model/QuantityUnit.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContext.cs
  source/ProcessManager.Orchestrations/Program.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Corrected exception
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/EnqueueMessagesStep.cs
Owners: @Energinet-DataHub/team-mosaic

Rename activity
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/GetOrchestrationInstanceContextActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

builds
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

JobRunId to exception
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/CalculationStep.cs
Owners: @Energinet-DataHub/team-mosaic

Production calculations
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContextTests.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

feat: Production calculations (#191)
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/Wholesale/WholesaleContextTests.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

refac: Adopt BRS-023/027 to new step pattern (#187)
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/GetOrchestrationInstanceContextActivity_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Model/OrchestrationInstanceContext.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/StartCalculationHandlerV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/CalculationStep.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Steps/EnqueueMessagesStep.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Get calculation ids to migrate
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/TimeSeriesTypeValidatorTests.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Models/CalculationsToMigrate.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update EF config
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor names
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Models/CalculationsToMigrate.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Calculation query extension (#190)
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Components.Abstractions/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/Api/Model/SearchOrchestrationInstancesByNameQuery.cs
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Components.Abstractions/ProcessManager.Components.Abstractions.csproj
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Orchestration/OrchestrationInstanceRepositoryTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceQueries.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceRepository.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/OrchestrationInstanceRepository.cs
  source/ProcessManager.Example.Orchestrations.Abstrations/Processes/BRS_X01/InputExample/V1/InputExampleQuery.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations.Tests/Integration/Processes/BRS_X01/NoInputExample/V1/MonitorOrchestrationUsingClientScenario.cs
  source/ProcessManager.Example.Orchestrations/Processes/BRS_X01/InputExample/SearchInputExampleHandler.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/CalculationQuery.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/CustomQueries/SearchCalculationHandler.cs
  source/ProcessManager.Tests/Integration/Processes/BRS_X01/InputExample/V1/MonitorOrchestrationUsingApiScenario.cs
  source/ProcessManager/Api/SearchOrchestrationInstancesByNameTrigger.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Use fan-in/out pattern
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
Owners: @Energinet-DataHub/team-mosaic

Add tests
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Orchestration_MigrateCalculationsFromWholesale_V1.cs
  source/Shared/Tests/Fixtures/WholesaleDatabaseManager.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Update source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Rename
  source/ProcessManager/Scheduler/DataHubSystemAdministrator.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Move AsNoTracking()
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Get wholesale calculation ids to migrate (#192)
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationInstanceEntityConfiguration.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/InternalProcesses/MigrateCalculationsFromWholesale/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations.Tests/Unit/Processes/BRS_026_028/BRS_026/V1/BusinessValidation/Rules/TimeSeriesTypeValidatorTests.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Models/CalculationsToMigrate.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Orchestration_MigrateCalculationsFromWholesale_V1.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Steps/MigrateCalculationsStep.cs
  source/ProcessManager/Scheduler/DataHubSystemAdministrator.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Disable change tracking on Wholesale context by default
  source/ProcessManager.Orchestrations/Extensions/DependencyInjection/WholesaleDatabaseExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Remove AsNoTracking for Wholesale context
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/GetCalculationsToMigrateActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Factory
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceFactory.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Move DataHubSystemAdministrator to Core
  source/ProcessManager.Core/Application/Scheduling/DataHubSystemAdministrator.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Using
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Make custom state assignable
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstance.cs
  source/ProcessManager.Core/Domain/OrchestrationInstance/OrchestrationInstanceCustomState.cs
Owners: @Energinet-DataHub/team-mosaic

Plain code, not ready yet
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceFactory.cs
  source/ProcessManager.Orchestrations/InternalProcesses/MigrateCalculationsFromWholesale/V1/Activities/MigrateCalculationActivity_MigrateCalculationsFromWholesale_V1.cs
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
