Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations.
# Add teams who should be able to implement Orchestrations in Process Manager.
/source/ProcessManager.Orchestrations @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian

doh
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Skip building anything
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Modify test
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

Add general recurring trigger
  source/ProcessManager.Tests/Fixtures/ProcessManagerAppManager.cs
  source/ProcessManager/Program.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
  source/ProcessManager/Scheduler/RecurringPlannerTrigger.cs
  source/ProcessManager/Scheduler/SchedulerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor names
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor test
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

Grps.Tools
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

test: impl ForwardMeteredData_WhenStartedUsingClient_CanMonitorLifecycle
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Support RecurringCronExpression
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Database/ProcessManagerContextTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescriptionTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/ParameterDefinitionTests.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
  source/ProcessManager.Core/Infrastructure/Database/OrchestrationDescriptionEntityConfiguration.cs
  source/ProcessManager.Core/ProcessManager.Core.csproj
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
  source/ProcessManager.DatabaseMigration/Scripts/202412101700 Add RecurringCronExpression.sql
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Move
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescription/OrchestrationDescriptionTests.cs
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescription/ParameterDefinitionTests.cs
  source/ProcessManager.Orchestrations/Program.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Fix build
  source/ProcessManager.Core.Tests/Unit/Domain/OrchestrationDescription/OrchestrationDescriptionTests.cs
  source/ProcessManager.Core/Domain/OrchestrationDescription/OrchestrationDescription.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
Owners: @Energinet-DataHub/team-mosaic

Fix build
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Order scripts
  source/ProcessManager.DatabaseMigration/ProcessManager.DatabaseMigration.csproj
Owners: @Energinet-DataHub/team-mosaic

Pseudo code
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

GetAllRecurringAsync
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationRegisterQueries.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
Owners: @Energinet-DataHub/team-mosaic

Recurring query
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Registration/OrchestrationRegisterTests.cs
  source/ProcessManager.Core/Application/Scheduling/IRecurringOrchestrationDescriptionsQuery.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

updated
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsStoredActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

updated
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/WaitingMeteredDataForMeasurementPointIsEnqueuedActivity_Brs_021_MeteredDataForwarding_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

ensure that example orchestration can start
  source/Example.Orchestrations/Example.Orchestrations.csproj
  source/Example.Orchestrations/host.json
Owners: @Energinet-DataHub/team-mosaic

Create launchSettings.json
  source/Example.Orchestrations/Properties/launchSettings.json
Owners: @Energinet-DataHub/team-mosaic

Update Example.Orchestrations.csproj
  source/Example.Orchestrations/Example.Orchestrations.csproj
Owners: @Energinet-DataHub/team-mosaic

Add cachekey prefix
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Use same cache key
  .github/workflows/ci-dotnet-runtests.yml
  .github/workflows/ci-dotnet.yml
Owners: @Energinet-DataHub/TheOutlaws

Add default
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Comment
  source/ProcessManager/Scheduler/RecurringPlannerTrigger.cs
  source/ProcessManager/Scheduler/SchedulerTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

Kick CI
  .github/workflows/ci-dotnet-runtests.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove comment
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

Remove debug print
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TheOutlaws

updated
  source/ProcessManager.Client.Tests/Integration/BRS_021/ForwardMeteredData/V1/MonitorCalculationUsingClientsScenario.cs
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

Docs
  docs/ProcessManager/Development.md
Owners: @Energinet-DataHub/team-mosaic

Prepare for testing handler
  source/ProcessManager.Tests/Fixtures/RecurringPlannerHandlerFixture.cs
  source/ProcessManager.Tests/Integration/Scheduler/RecurringPlannerHandlerTests.cs
Owners: @Energinet-DataHub/team-mosaic

Update input for request processes
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesInputV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesInputV1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Update orchestrations package
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

RecurringOrchestrationQueries
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
  source/ProcessManager.Core/Application/Scheduling/IRecurringOrchestrationQueries.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Registration/OrchestrationRegister.cs
  source/ProcessManager.Core/Infrastructure/Scheduling/RecurringOrchestrationQueries.cs
  source/ProcessManager/Scheduler/RecurringPlannerHandler.cs
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Client.Tests/Integration/BRS_026_028/V1/RequestCalculatedEnergyTimeSeriesTests.cs
Owners: @Energinet-DataHub/team-mosaic

Fix test
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Core.Tests/Integration/Infrastructure/Scheduling/RecurringOrchestrationQueriesTests.cs
Owners: @Energinet-DataHub/team-mosaic
