Repository Energinet-DataHub/opengeh-process-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Undo change
  source/ProcessManager.Abstractions/Api/Model/NotifyOrchestrationInstanceEvent.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version and release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
Owners: @Energinet-DataHub/team-mosaic

Update NotifyOrchestrationInstanceOptions.cs
  source/ProcessManager/Extensions/Options/NotifyOrchestrationInstanceOptions.cs
Owners: @Energinet-DataHub/team-mosaic

Revert topic renaming
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

refac: Orchestration DescriptionUnique names (#103)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation/Brs_021_ElectricalHeatingCalculation.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation/V1/Model/StartElectricalHeatingCalculationCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/Brs_021_ForwardMeteredData.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/StartMeteredDataForwardCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/Brs_023_027.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/CalculationQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/ScheduleCalculationCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/StartCalculationCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/Brs_026.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_026/V1/Model/RequestCalculatedEnergyTimeSeriesCommandV1.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/Brs_028.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_028/V1/Model/RequestCalculatedWholesaleServicesCommandV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ElectricalHeatingCalculation/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/OrchestrationDescriptionBuilder.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/BRS_026/V1/Orchestration_Brs_026_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_028/V1/Orchestration_Brs_028_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Align with merge
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Move shared query types
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/IActorRequestQueryResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/RequestCalculatedEnergyTimeSeriesResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/RequestCalculatedWholesaleServicesResult.cs
Owners: @Energinet-DataHub/team-mosaic

Move shared types into another namespace
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/Shared/BRS_026_028/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/Shared/BRS_026_028/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/Shared/BRS_026_028/SearchTrigger_Brs_026_028.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Bump version and update release notes
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/Shared/BRS_026_028/SearchTrigger_Brs_026_028Tests.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

refac: Move shared types used for custom queries (#105)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/ActorRequestQuery.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/IActorRequestQueryResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/RequestCalculatedEnergyTimeSeriesResult.cs
  source/ProcessManager.Orchestrations.Abstractions/Processes/Shared/BRS_026_028/RequestCalculatedWholesaleServicesResult.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/Shared/BRS_026_028/SearchTrigger_Brs_026_028Tests.cs
  source/ProcessManager.Orchestrations/ProcessManager.Orchestrations.csproj
  source/ProcessManager.Orchestrations/Processes/Shared/BRS_026_028/SearchActorRequestHandler.cs
  source/ProcessManager.Orchestrations/Processes/Shared/BRS_026_028/SearchTrigger_Brs_026_028.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Add notify orchestration instance command
  source/ProcessManager.Core/Application/Orchestration/INotifyOrchestrationInstanceCommands.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Infrastructure/Extensions/DependencyInjection/ProcessManagerExtensions.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

Small refactor
  source/ProcessManager.Core/Application/Orchestration/IOrchestrationInstanceExecutor.cs
  source/ProcessManager.Core/Application/Orchestration/OrchestrationInstanceManager.cs
  source/ProcessManager.Core/Infrastructure/Orchestration/DurableOrchestrationInstanceExecutor.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.proto
  source/ProcessManager.Abstractions/Contracts/NotifyOrchestrationInstanceV1.cs
  source/ProcessManager.Abstractions/Contracts/NotifyOrchestrationInstanceV1.proto
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationInstanceV1.proto
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
  source/ProcessManager/Api/NotifyOrchestrationInstanceTrigger.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/ProcessManager.Abstractions/Contracts/NotifyOrchestrationInstanceV1.cs
  source/ProcessManager.Client/IProcessManagerMessageClient.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
Owners: @Energinet-DataHub/team-mosaic

Update ProcessManagerMessageClient.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

feat: Create and enqueue RSM-009 response (#97)
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointRejectedV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_021/ForwardMeteredData/V1/MonitorOrchestrationUsingClientsScenario.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/CreateRejectMessageActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueRejectMessageActivity_Brs_021_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Orchestration_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/TestServices/ElectricityMarketViewsStub.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Should build now
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Comments
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Merge with main
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
  source/Shared/Tests/Fixtures/OrchestrationsAppManager.cs
Owners: @Energinet-DataHub/team-mosaic

Rearrange
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Using servicebus listener from core
  source/ProcessManager.Orchestrations.Tests/Fixtures/OrchestrationsAppFixture.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor CalculationCompletedV1
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationCompletedV1.cs
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian

Refactor calculationId to long
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_023_027/V1/Model/CalculationCompletedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Refactor parsing protobuf messages
  source/ProcessManager.Abstractions/Contracts/EnqueueActorMessagesV1.cs
  source/ProcessManager.Abstractions/Contracts/NotifyOrchestrationInstanceV1.cs
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationInstanceV1.cs
  source/ProcessManager.Abstractions/Contracts/StartOrchestrationInstanceV1.proto
  source/ProcessManager.Client/IProcessManagerMessageClient.cs
  source/ProcessManager.Client/ProcessManagerMessageClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/EnqueueActorMessagesClient.cs
  source/ProcessManager.Components/EnqueueActorMessages/IEnqueueActorMessagesClient.cs
  source/ProcessManager.Core/Application/Api/Handlers/StartOrchestrationInstanceFromMessageHandlerBase.cs
Owners: @Energinet-DataHub/team-mosaic

review fixes
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/EnergyObservation.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Bump version
  docs/ProcessManager.Client/ReleaseNotes/ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Abstractions/ProcessManager.Abstractions.csproj
  source/ProcessManager.Client/ProcessManager.Client.csproj
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Bump version
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Rename
  source/ProcessManager.Orchestrations.Tests/Integration/Processes/BRS_023_027/V1/MonitorOrchestrationUsingDurableClient.cs
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Activities/EnqueActorMessagesStep/EnqueueActorMessagesActivity_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/team-mosaic

Bumb version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

updated documentation and package version
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
  source/ProcessManager.Orchestrations.Abstractions/ProcessManager.Orchestrations.Abstractions.csproj
Owners: @Energinet-DataHub/team-mosaic

Update ReleaseNotes.md
  docs/ProcessManager.Orchestrations.Abstractions/ReleaseNotes/ReleaseNotes.md
Owners: @Energinet-DataHub/team-mosaic

small refs
  source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ForwardMeteredData/V1/Model/MeteredDataForMeteringPointAcceptedV1.cs
  source/ProcessManager.Orchestrations/Processes/BRS_021/ForwardMeteredData/V1/Activities/EnqueueActorMessagesActivity_Brs_021_ForwardMeteredData_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Removed unsed using
  source/ProcessManager.Orchestrations/Processes/BRS_023_027/V1/Orchestration_Brs_023_027_V1.cs
Owners: @Energinet-DataHub/team-mosaic

Names for topics
  source/ProcessManager.Components/Extensions/Options/SharedTopicOptions.cs
Owners: @Energinet-DataHub/team-mosaic

Add IdempotencyKey to all OrchestrationInstance DTO variants
  source/ProcessManager.Abstractions/Api/Model/IOrchestrationInstanceTypedDto.cs
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstance/OrchestrationInstanceDto.cs
  source/ProcessManager.Abstractions/Api/Model/OrchestrationInstanceTypedDto.cs
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
  source/Shared/Api/Mappers/OrchestrationInstanceMapperExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

Test
  source/ProcessManager.Tests/Unit/Api/Mappers/OrchestrationInstanceMapperExtensionsTests.cs
Owners: @Energinet-DataHub/team-mosaic

Initial integration event publisher
  source/ProcessManager.Components/Extensions/DependencyInjection/PublishIntegrationEventExtensions.cs
  source/ProcessManager.Components/Extensions/Options/IntegrationEventTopicOptions.cs
  source/ProcessManager.Components/IntegrationEventPublisher/IIntegrationEventPublisherClient.cs
  source/ProcessManager.Components/IntegrationEventPublisher/IntegrationEventPublisherClient.cs
  source/Shared/Extensions/ServiceBusMessageExtensions.cs
Owners: @Energinet-DataHub/team-mosaic

.github/CODEOWNERS:

* @Energinet-DataHub/team-mosaic
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
# The following projects (directories) are for implementation of Orchestrations
# We allow teams to work with tests in general
/source/ProcessManager.Orchestrations.Tests @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
# We only allow teams access to folders under "Processes" matching the orchestrations they are responsible for
/source/ProcessManager.Orchestrations/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
/source/ProcessManager.Orchestrations.Abstractions/Processes/BRS_021/ElectricalHeatingCalculation @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Mandalorian
